<div class="row"> <h3 class="page-header">员工管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
            	<label><a class="btn btn-primary" href="{:U('Admins/add')}">添加员工</a></label>
                <form action='{:U("Admins/index")}' class="form-inline text-right m-b-5 fr">
                    <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20 w150" placeholder="员工姓名">
                    <input type="text" name='tel' value='{$Think.get.tel}' class="form-control mr20 w150" placeholder="手机号码">
                    <select name='gid' class="form-control mr20 w150">
                        <option value='-1'>所属组</option>
                        <volist name="groupList" id="group">
                        	<option value='{$group.id}' <eq name='Think.get.gid' value="$group['id']">selected</eq>>{$group.name}</option>
                        </volist>
                    </select>
                    <select name='status' class="form-control mr20 w100">
                        <option value='-1'>状态</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用</option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用</option>
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>员工名称</th>
                                <th>手机号码</th>
                                <th>所属组</th>
                                <th>最后登录时间</th>
                                <th>最后登录IP地址</th>
                                <th width="75">状态</th>
                                <th width="120">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.name}</td>
                                    <td>{$list.tel}</td>
                                    <td>{$list.groupname}</td>
                                    <td>
                                       <gt name="list.last_login_time" value='0'>{$list.last_login_time|date='Y-m-d H:i', ###}<else />未登录</gt>
                                    </td>
                                    <td>{$list.last_login_ip|default='未登录'}</td>
                                    <td class="center">
                                     	<button class='btn <eq name="list.status" value="1">btn-primary<else />btn-default</eq> btn-sm setStatus' type="button" data-url='{:U("Admins/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name="list.status" value='1'>启用<else />禁用</eq></button>
                                    </td>
                                    <td>
                                        <a class=" btn-sm btn btn-default" href='{:U("Admins/edit?id=".$list["id"])}'>修改</a>
                                        <gt name="list.id" value="1"><button data-url='{:U("Admins/del?id=".$list["id"])}' class=" btn-sm btn btn-default delBtn" type="button">删除</button></gt>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>