<div class="row"> <h3 class="page-header">小区管理</h3></div>
<div class="row">
    <div class="col-md-12"> 
        <div class="panel panel-default">
            <div class="panel-body">
                <label><a class="btn btn-primary" href="{:U('Area/add')}">添加</a></label>
                <form action='{:U("Area/index")}' class="form-inline text-right fr m-b-5">
                    <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20 w150" placeholder="小区名称">
                    <select name='status' class="form-control mr20 w100" >
                        <option value='-1'>状态</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用 </option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用 </option>
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>小区名称</th>
                                <th>物业电话</th> 
                                <th width="70">排序</th>
                                <th width="75">状态</th>
                                <th width="130">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.name}</td>
                                    <td>{$list.phone}</td>
                                    <td>
                                        <input class="setSort" type="text" size="5" data-url="{:U('Area/setSort?id='.$list['id'])}" value="{$list.sort}">
                                    </td>
                                    <td>
                                        <button class="btn <eq name='list.status' value='1'>btn-primary<else/>btn-default</eq> btn-sm setStatus" type="button" data-url='{:U("Area/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name='list.status' value='1'>启用<else/>禁用</eq></button>
                                    </td>
                                    <td>
                                        <a class=" btn btn-default btn-sm" href="{:U('Area/edit?id='.$list['id'])}">修改</a>
                                        <button data-url='{:U("Area/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>