<div class="row"><h3 class="page-header">账单管理</h3></div>
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action='{:U("Bill/record")}' class="form-inline text-right fr m-b-5">
                <input type="text" name='addr' value='{$Think.get.addr}' class="form-control mr20 w150" placeholder="房号">   
              	<input type="hidden" name='id' value='{$Think.get.id}' class="form-control mr20 w150" >
              	<button class="btn btn-primary" type="submit">搜索</button>
           	</form>
            <div class="table-responsive">
              	<div class="excel"></div>
              	<elt name='info.entry_time' value='0'>
                  <button type="button" class="btn btn-default import">导入数据</button>
                <else/>
                  <a href="{:U('Bill/exportRecord', array('id' => $_GET['id']))}" class="btn btn-primary">导出数据</a>
                </elt>
              	<!-- <eq name="info.status" value='1'><button class="btn btn-warning check" type="button">核对完成</button></eq> -->
              	<eq name="info.status" value='1'><button class="btn btn-warning down" type="button">下发账单</button></eq>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="60">序号</th>
                            <th>房号</th>
                            <th>物业费<br/>应收</th>
                            <th>物业费<br/>实收</th>
                            <th>二次供<br/>水费应收</th>
                            <th>二次供<br/>水费实收</th>
                            <th>能耗费<br/>应收</th>
                            <th>能耗费<br/>实收</th>
                            <th>车位费<br/>应收</th>
                            <th>车位费<br/>实收</th>
                            <th>车位管<br/>理费应收</th>
                            <th>车位管<br/>理费实收</th>
                            <th>历年欠<br/>费应收</th>
                            <th>历年欠<br/>费实收</th>
                            <th>总应缴<br/>费用</th>
                            <th>状态</th>
                            <th width="120">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                       <!--  <lt name="Think.get.p" value="2">
                          <tr>
                               <td>0</td>
                               <td><b>合计</b></td>
                               <td><b>{$totalInfo.porperty_total|number_format}</b> 元</td>
                               <td><b>{$totalInfo.porperty_pay_total|number_format}</b> 元</td>
                               <td><b>{$totalInfo.water_total|number_format}</b> 元</td>
                               <td><b>{$totalInfo.water_pay_total|number_format}</b> 元</td>
                               <td><b>{$totalInfo.energy_total|number_format}</b> 元</td>
                               <td><b>{$totalInfo.energy_pay_total|number_format}</b> 元</td>
                               <td><b>{$totalInfo.carport_total|number_format}</b> 元</td> 
                               <td><b>{$totalInfo.carport_pay_total|number_format}</b> 元</td> 
                               <td><b>{$totalInfo.car_manger_total|number_format}</b> 元</td> 
                               <td><b>{$totalInfo.car_manger_pay_total|number_format}</b> 元</td> 
                               <td><b>{$totalInfo.arrear_money_total|number_format}</b> 元</td>
                               <td><b>{$totalInfo.arrear_money_pay_total|number_format}</b> 元</td>
                               <td><b>{$totalInfo.total_money|number_format}</b> 元</td>
                               <td> - </td>
                               <td> - </td>
                          </tr>
                        </lt> -->
                        <volist name="list" id="list">
                           <tr>
                               <td>{$i}</td>
                               <td>{$list.name}</td>
                               <td>{$list.porperty|default=0}元</td>
                               <td>{$list.porperty_pay|default=0}元</td>
                               <td>{$list.water|default=0}元</td>
                               <td>{$list.water_pay|default=0}元</td>
                               <td>{$list.energy|default=0}元</td>
                               <td>{$list.energy_pay|default=0}元</td>
                               <td>{$list.carport|default=0}元</td> 
                               <td>{$list.carport_pay|default=0}元</td> 
                               <td>{$list.car_manger|default=0}元</td> 
                               <td>{$list.car_manger_pay|default=0}元</td> 
                               <td>{$list.arrear_money|default=0}元</td>
                               <td>{$list.arrear_money_pay|default=0}元</td>
                               <td>{$list.total_money|default=0}元</td>
                               <td>
                               <switch name='list.status'>
                               		<case value='0'>未下发</case>
                               		<case value='1'>未缴费</case>
                               		<case value='2'>已缴费</case>
                               </switch>
                               </td>
                               <td>
                                  <button class="btn-sm btn btn-default detail" type="button" data-id='{$list.id}'>详情</button>
                                  <a class="btn-sm btn btn-default" type="button" href='{:U("Bill/edit_record?id=".$list["id"]."&p=".$_GET["p"])}'>修改</a>
                               </td>
                           </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
            {$page}
        </div>
    </div>
</div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
    	 <div class="modal-content" id='html'></div>
    </div>
</div>
<script>
	$(function(){
    	var bill_id = '{$_GET["id"]}';
    	$('body').on('click', '.import', function(){
    		if(confirm('你确定需要导入数据？')){
    			waiting();
    			$.post('{:U("Payment/import")}', {bill_id : bill_id}, function(data){
    				complete(); showInfo(data.info);
    				if(data.status = 1){
    					location.reload();
    				}
    			});
    		}
    	});
    	$('.detail').click(function(){
    		var html = '';
    		waiting();
    		$.post('{:U("Bill/detail")}', {id : $(this).data('id')}, function(data){
    			complete(); 
    			$('#html').html(data);
	    		$('#myModal').modal('show');
    		});
    		
    	});
    	$('body').on('click', '.down', function(){
    		if(confirm('请认真核对后再下发账单，一旦下发不可修改！')){
    			waiting();
    			$.post('{:U("Bill/down")}', {bill_id : bill_id}, function(data){
	    			complete(); showInfo(data.info);
	    			if(data.status == 1){
	    				//$('.down').hide();
	    				location.reload();
	    			}
    			});
    		}
    	});
    	$('.check').click(function(){
    		var obj = $(this);
    		if(confirm('你确定核对完成无误？')){
    			waiting();
    			$.post('{:U("Bill/check")}', {bill_id : bill_id}, function(data){
	    			complete(); showInfo(data.info);
	    			if(data.status == 1){
	    				obj.after('<button class="btn btn-warning down" type="button">下发账单</button>');
	    				obj.remove();
	    			}
    			});
    		}
    	});
	});
</script>