<link rel="stylesheet" href="{:COM}css/bootstrap-datetimepicker.min.css" />
<div class="row"> <h3 class="page-header">楼栋管理<small><gt name='info.id' value=''>/修改<else/>/添加</gt></small></h3></div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form"  id="myform" method="post" class="form-horizontal">
			    <div class="form-group">		
                    <label class="col-sm-3 control-label">小区名称：<span class="c-red">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control" name="aid">
                            <volist name='areaList' id='areaList'>
                          	    <option value="{$areaList.id}" <eq name='areaList.id' value='$info.aid'>selected</eq> >{$areaList.name}</option>
                            </volist>
                        </select>
                    </div>
                </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">楼栋名称：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			         	<input class="form-control required" name="name" value="{$info.name}" maxlength="20">
			        </div>
			        <small>不超过二十个字</small>
			    </div> 
			    <div class="form-group">
                    <label class="col-sm-3 control-label">包含单元：</label>
                    <div class="col-sm-4">
					    <span class="ckbox">
					    	<input type='checkbox' id='units1' name='units[]' value='1' ><label for="units1">1单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units2' name='units[]' value='2' ><label for="units2">2单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units3' name='units[]' value='3' ><label for="units3">3单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units4' name='units[]' value='4' ><label for="units4">4单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units5' name='units[]' value='5' ><label for="units5">5单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units6' name='units[]' value='6' ><label for="units6">6单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units7' name='units[]' value='7' ><label for="units7">7单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units8' name='units[]' value='8' ><label for="units8">8单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units9' name='units[]' value='9' ><label for="units9">9单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units10' name='units[]' value='10' ><label for="units10">10单元</label>
					    </span>
					    <span class="ckbox">
					    	<input type='checkbox' id='units11' name='units[]' value='11' ><label for="units11">无</label>
					    </span>
                    </div>
                </div>
                <div class="form-group">
			        <label class="col-sm-3 control-label">排序：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			         	<input class="form-control digits required" name="sort" value="{$info.sort|default=100}">
			        </div>
			        <small>请输入正整数</small>
			    </div> 
			    <div class="form-group">
					<label class="col-sm-3 control-label">状态：</label>
					<div class="col-sm-4">
			            <label class="radio-inline">
			                <input type="radio" value="1" id="status1" name="status" <neq name="info.status" value="0">checked</neq>>启用
			            </label>
			            <label class="radio-inline">
			                <input type="radio" value="0"  id="status2" name="status" <eq name="info.status" value="0">checked</eq>>禁用
			            </label>
		            </div>
		        </div>
		        <gt name='info.id' value='0'> <input type='hidden' name='id' id="id" value='{$info.id}'></gt>
		        <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
				        <button class="btn btn-primary" type="submit">保存</button>
				       	<a href="{:U('Block/index')}"><button class=" btn btn-default" type="button">返回</button></a>
			       	</div>	
		       	</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	<volist name="info.units" id="units">
		$('#units{$units}').attr('checked', true);
	</volist>
</script>