<div class="row"> <h3 class="page-header">楼栋管理</h3></div>
    <div class="row">
        <div class="col-md-12"> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <label><a class="btn btn-primary" href="{:U('Block/add')}">添加</a></label>
                    <form action='{:U("Block/index")}' class="form-inline text-right fr m-b-5">
                        <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20 w150" placeholder="楼栋名称">
                        <div class="form-group">
                            <select class="form-control" id="aid" name="aid">
                                <option value="0" >全部小区</option>
                                <volist name='areaList' id='area'>
                                    <option value="{$area.id}"<eq name='area.id' value='$_GET.aid'> selected </eq> >{$area.name}</option>
                                </volist>
                            </select>           
                        </div>
                        <select name='status' class="form-control mr20 w100" >
                            <option value='-1'>状态</option>
                            <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用 </option>
                            <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用 </option>
                        </select>
                        <button class="btn btn-primary" type="submit">搜索</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="60">序号</th>
                                    <th>楼栋名称</th> 
                                    <th>小区名称</th> 
                                    <th>所有单元</th> 
                                    <th width="75">排序</th>
                                    <th width="75">状态</th>
                                    <th width="130">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="list">
                                    <tr>
                                        <td>{$i}</td> 
                                        <td>{$list.name}</td>
                                        <td>{$list.aname}</td>
                                        <td>{$list.units}</td>
                                        <td>
                                            <input class="setSort" type="text" size="5" data-url="{:U('Block/setSort?id='.$list['id'])}" value="{$list.sort}">
                                        </td>
                                        <td>
                                            <button class="btn <eq name='list.status' value='1'>btn-primary<else/>btn-default</eq> btn-sm setStatus" type="button" data-url='{:U("Block/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name='list.status' value='1'>启用<else/>禁用</eq></button>
                                        </td>
                                        <td>
                                            <a class="btn-sm btn btn-default" href="{:U('Block/edit?id='.$list['id'])}">修改</a>
                                            <button data-url='{:U("Block/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
    
  