<div class="row"><h3 class="page-header">类型管理</h3></div>
    <div class="row">
        <div class="col-md-12"> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <label><a class="btn btn-primary" href="{:U('BookingType/add')}">添加</a></label>
                    <form action='{:U("BookingType/index")}' class="form-inline text-right fr">
             <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20 w150" placeholder=" 类型名称">
                  <select name='status' class="form-control mr20 w150" >
                            <option value='-1'>状态</option>
                            <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用 </option>
                            <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用 </option>
                            
                        </select>
                        <button class="btn btn-primary" type="submit">搜索</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="60">序号</th>
                                    <th>类型名称</th> 
                                    <th>前台URL链接</th>
                                    <th width="70">排序</th>
                                    <th width="75">状态</th>
                                    <th width="130">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="list">
                                    <tr>
                                        <td>{$i}</td>
                                        <td>{$list.name}</td>
                                        <td>www.weilt.com/Wap/Booking/index/id/{$list.id}</td>
                                        <td>
                                            <input class="setSort" type="text" size="2" data-url="{:U('BookingType/setSort?id='.$list['id'])}" value="{$list.sort}">
                                        </td>
                                        <td>
                                             <switch name='list.status'>
                                                <case value='0'>
                                                    <button class="btn-status btn-primary setStatus" type="button" data-url='{:U("BookingType/setStatus?id=".$list["id"])}' data-status="{$list.status}">禁用</button>
                                                </case>
                                                <case value='1'>
                                                    <button class="btn-status btn-primary setStatus" type="button" data-url='{:U("BookingType/setStatus?id=".$list["id"])}' data-status="{$list.status}">启用</button>
                                                </case>
                                            </switch> 
                                             <!-- <eq name='list.status' value='2'><button class="btn btn-danger btn-sm" type="button"  data-status="{$list.status}">已删除</button></eq>
                                             <lt name='list.status' value='2'><button class="btn <eq name='list.status' value='1'>btn-primary<else/>btn-default</eq> btn-sm setStatus" type="button" data-url='{:U("BookingType/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name='list.status' value='1'>启用<else/>禁用</eq></button></lt> -->
                                        </td>
                                        <td class="last">
                                            <a class="btn-sm btn btn-default" href="{:U('BookingType/edit?id='.$list['id'])}">修改</a>
                                            <button data-url='{:U("BookingType/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>                                       
                                        </td>
                                   </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                    {$page}
                </div>
            </div>
        </div>
    </div>