<div class="row"> <h3 class="page-header">供应商管理</h3></div>
    <div class="row">
        <div class="col-md-12"> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <label><a class="btn btn-primary" href="{:U('BookingSupplier/add')}">添加</a></label>
                    <form action='{:U("BookingSupplier/index")}' class="form-inline text-right fr">
                 <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20 w150" placeholder=" 类型名称">
                   <div class="form-group">
                        <select class="form-control" id="typeid" name="typeid">
                            <option value="0" >全部类型</option>
                            <volist name='typeList' id='type'>
                                <option value="{$type.id}"<eq name='type.id' value='$_GET.typeid'> selected </eq> >{$type.name}</option>
                            </volist>
                        </select>           
                    </div>
                <select name='status' class="form-control mr20 w150" >
                            <option value='-1'>  状态</option>
                            <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >正常 </option>
                            <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >删除 </option>
                        </select>
                        <button class="btn btn-primary" type="submit">搜索</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="60">序号</th>
                                    <th>名称</th>
                                    <th>电话</th> 
                                    <th>服务类型</th>
                                    <th>地址</th>
                                    <th>排序</th>
                                    <th width="75">状态</th>
                                    <th width="120">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="list">
                                    <tr>
                                        <td>{$i}</td>
                                        <td>{$list.name}</td>
                                        <td>{$list.phone}</td>
                                        <td>{$list.type}</td>
                                        <td>{$list.address}</td>
                                        <td>
                                            <input class="setSort" type="text" size="2" data-url="{:U('BookingSupplier/setSort?id='.$list['id'])}" value="{$list.sort}">
                                        </td>
                                        <td>
                                            <switch name='list.status'>
                                                <case value='0'>
                                                    <button class="btn-status btn-primary setStatus" type="button" data-url='{:U("BookingSupplier/setStatus?id=".$list["id"])}' data-status="{$list.status}">删除</button>
                                                </case>
                                                <case value='1'>
                                                    <button class="btn-status btn-primary setStatus" type="button" data-url='{:U("BookingSupplier/setStatus?id=".$list["id"])}' data-status="{$list.status}">正常</button>
                                                </case>
                                            </switch>
                                       </td>
                                       <td class="last">
                                            <a class="btn-sm btn btn-default" href="{:U('BookingSupplier/edit?id='.$list['id'])}">修改</a>
                                            <!-- <button data-url='{:U("BookingSupplier/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button> -->
                                       </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
    