<link href="{:COM}css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row"><h3 class="page-header">预约管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body"> 
                <!-- <label><a class="btn btn-primary export">数据导出</a></label> -->
                <form action='{:U("Booking/index")}' class="form-inline text-right fr m-b-5">
             <input type="text" name='owner' value='{$Think.get.owner}' class="form-control mr20 w150" placeholder="业主"> 
                  <!--   <div class="form-group">
                        <select class="form-control" id="aid" name="aid">
                            <option value="0" >全部小区</option>
                            <volist name='areaList' id='area'>
                                <option value="{$area.id}"<eq name='area.id' value='$_GET.aid'> selected </eq> >{$area.name}</option>
                            </volist>
                        </select>           
                    </div>  -->
                    <!-- 类型 -->
                    <div class="form-group">
                        <select class="form-control" id="typeid" name="typeid">
                            <option value="0" >全部类型</option>
                            <volist name='typeList' id='type'>
                                <option value="{$type.id}"<eq name='type.id' value='$_GET.typeid'> selected </eq> >{$type.name}</option>
                            </volist>
                        </select>           
                    </div>
                    <!-- 供应商 -->
                    <div class="form-group">
                        <select class="form-control" id="supplier" name="supplierid">
                            <option value="0" >全部供应商</option>
                            <volist name='supplierList' id='supplier'>
                                <option value="{$supplier.id}"<eq name='supplier.id' value='$_GET.supplierid'> selected </eq> >{$supplier.name}</option>
                            </volist>
                        </select>           
                    </div>
            <select name='status' class="form-control mr20 w150">
                        <option value='-1'>状态</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >未完成 </option>
                        <option value='3' <eq name='Think.get.status' value='3'>selected</eq> >已完成 </option>
                        <option value='2' <eq name='Think.get.status' value='2'>selected</eq> >已评论 </option>
                        <option value='4' <eq name='Think.get.status' value='4'>selected</eq> > 已删除</option>
                    </select>
                    <div class="btn-group">
                    <button class="btn btn-primary" type="submit">搜索</button>
                    <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="{:U('Repair/export', $_GET)}">导出结果</a></li>
							<li><a href="{:U('Repair/index')}">清除条件</a></li>
						</ul>
						</div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>业主</th>
                                <th>联系人</th>                    
                                <th>联系方式</th>
                                <th>预约时间</th>
                                <th>提交时间</th>
                                <th>选择商家</th>
                                <th width="75">状态</th>
                                <th width="180">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.owner}</td>
                                    <td>{$list.name}</td>
                                    <td>{$list.phone}</td>
                                    <td>{$list.day|date='Y-m-d H:i', ###}</td>
                                    <td>{$list.submit_time|date='Y-m-d H:i', ###}</td>
                                    <td>{$list.title}</td>
                                    <td>
                                        <switch name='list.status'>
                                            <case value='1'><button class='btn-status btn-info' type="button">未完成</button></case>
                                            <case value='2'><button class='btn-status btn-complate' type="button">已评论 </button></case>
                                            <case value='3'><button class='btn-status btn-success' type="button">已完成 </button></case>
                                            <case value='4'><button class='btn-status btn-danger' type="button">已删除</button> </case>
                                        </switch>
                                    </td>
                                    <td class="last">
                                        <button class="btn-sm btn btn-default look" data-id='{$list.id}'  data-rid='{$list.rid}' type="button">查看</button>
                                        <eq name='list.status' value='1'><button class="btn-sm btn btn-default deal" data-id='{$list.id}'  data-rid='{$list.rid}' type="button">处理</button></eq>
                                        <eq name='list.status' value='1'><button data-url='{:U("Booking/del")}' data-id='{$list.id}' data-status='{$list.status}' class="btn-sm btn btn-default" id="cosle" type="button">删除</button></eq>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="html">
        </div>
    </div>
</div>
<script type="text/javascript" src='{:COM}js/daterangepicker.min.js'></script>
<script type="text/javascript">
	$('body').on('click', '.save', function(){
		console.log('aaaa');
		var content = $('textarea').val();
	    var id = $("input[name='id']").val();
	    if(content){
	        waiting();
	  		$.post('{:U("BookingComment/detail")}',{content:content,id:id},function(data){
	  			complete();
				showInfo(data.info);
	        	$('#myModal').modal('hide');
	      	});
	    }else{
	    	showInfo('请输入回复的内容');
	    }
	});
    $('.look').click(function(){
        waiting();
        $.get('{:U("BookingComment/detail")}', {id :$(this).data('id')}, function(data){
          complete();$('#html').html(data);
        });
        $('#myModal').modal('show');
    });
    $('.deal').click(function(){
    	var flag = true;
    	if(flag){
    		if(confirm('你确定处理完成？')){
    			waiting();
    	        $.get('{:U("Booking/deal")}', {id :$(this).data('id')}, function(data){
    	          complete();
    	          showInfo(data.info);
    	          if(data.status == 1){
    	        	  location.reload();
    	          }
    	        });
    		}
    	}
    });
    $("#cosle").click(function(){
        $.get('{:U("Booking/del")}', {id :$(this).data('id')}, function(data){
          complete();
          showInfo(data.info);
          if(data.status == 1){
              location.reload();
          }
        });
    })
    //导出数据，时间选择插件
    $('input.datepicker').datetimepicker({format : "yyyy-mm-dd", minView : 2, autoclose : true});
    //导出数据，选择小区和时间等
    $('.export').click(function(){$('#myModal3').modal('show');});
    //导出数据，提交表单
    $('.export_submit').click(function(){$('#myModal3 #myform').submit();});
  	//导出回调函数
    function export_data(data){
      $('#myModal3').modal('hide');
      location.href = data.url;
    }
</script>
    