<link rel="stylesheet" href="{:COM}css/bootstrap-datetimepicker.min.css" />
<div class="row">
	<h3 class="page-header">供应商管理&nbsp;&nbsp;
		<small><gt name='info.id' value=''>/修改<else/>/添加</gt></small>
	</h3>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form"  id="myform" method="post" class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label">名称：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			         	<input class="form-control required" name="name" value="{$info.name}" maxlength="20">
			        </div>
			        <small>不超过二十个字</small>
			    </div>
			    <div class="form-group">		
                    <label class="col-sm-3 control-label">服务类型：<span class="c-red">*</span></label>
                    <div class="col-sm-4">
                        <select class="form-control selectReq" name="tid">
                            <volist name='typeList' id='typeList'>
                          	    <option value="{$typeList.id}" <eq name='typeList.id' value='$info.tid'>selected</eq> >{$typeList.type}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <div class="form-group">
			        <label class="col-sm-3 control-label">供应商LOGO：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			       		<div class="uploadify-div">
				       		<notempty name='info.pic'>
						    	<li><img src="{$info.pic}"><input type="hidden"  value="{$info.pic}" name="pic"></li>
						    </notempty>
					    </div>
			       		<button type="button" class="upload" id="upload">选择图片</button>
			        </div>
			    </div> 
				<div class="form-group">
					<label class="col-sm-3 control-label">联系方式：<span class="c-red">*</span></label>
					<div class="col-sm-4">
						<input type="text" name="phone" class="form-control required" placeholder="请输入联系方式" value="{$info.phone}" />
					</div>
				</div>
				<div class="form-group">
			        <label class="col-sm-3 control-label">价格：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			         	<input class="form-control required" name="price" value="{$info.price}" maxlength='20'>
			        </div>
			        <small>例：100/天</small>
			    </div> 
				<div class="form-group">
			        <label class="col-sm-3 control-label">服务范围：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			         	<input class="form-control required" name="service" value="{$info.service}" maxlength='50'>
			        </div>
			    </div> 
				<div class="form-group">
		            <label class="col-sm-3 control-label">地址：<span class="c-red">*</span></label>
		            <div class="col-sm-4">
		                <input class="form-control required" name="address" value="{$info.address}">
		            </div>
		        </div>
			    <div class="form-group">
		            <label class="col-sm-3 control-label">供应商介绍：</label>
		            <div class="col-sm-4">
		                <textarea rows="3" class="form-control keditor" name="desc" maxlength="200">{$info.desc}</textarea>
		            </div>
		        </div>
		        <div class="form-group">
			        <label class="col-sm-3 control-label">排序：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			         	<input class="form-control digits required" name="sort" value="{$info.sort|default=100}">
			        </div>
			        <small>请输入正整数</small>
			    </div> 
			    <div class="form-group">
					<label class="col-sm-3 control-label">状态：</label>
					<div class="col-sm-4">
			            <label class="radio-inline">
			                <input type="radio" value="1" id="status1" name="status" <neq name="info.status" value="0">checked</neq>>正常
			            </label>
			            <label class="radio-inline">
			                <input type="radio" value="0"  id="status2" name="status" <eq name="info.status" value="0">checked</eq>>删除
			            </label>
		            </div>
		        </div>
		        <gt name='info.id' value='0'> <input type='hidden' name='id' id="id" value='{$info.id}'></gt>
		        <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
				        <button class="btn btn-primary" type="submit">保存</button>
				       	<a href="{:U('BookingSupplier/index')}"><button class=" btn btn-default" type="button">返回</button></a>
			       	</div>	
		       	</div>
			</form>
		</div>
	</div>
</div>

