<link href="{:COM}css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row">
	<h3 class="page-header">社区活动&nbsp;&nbsp;<small><gt name='info.id' value='0'>修改<else/>添加</gt>活动</small></h3>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form" id="myform" method="post"  class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label">活动标题：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required" name="title" value="{$info.title}" maxlength='30'>
			        </div>
			    </div>
			    <div class="form-group">
			    	<label class="col-sm-3 control-label">上传图片：<span class="c-red">*</span></label>
			    	<div class="col-sm-4 imgreq">
			    		<div class="uploadify-div">
				       		<notempty name='info.pic'>
						    	<li><img src="{$info.pic}"><input type="hidden"  value="{$info.pic}" name="pic"></li>
						    </notempty>
					    </div>
	                   	<button type="button" class='upload' id='upload1' data-name="pic">选择图片</button>
                	</div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">小区：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control" id="aid" name="aid">
			        		<option value="0" >全部小区</option>
			        		<volist name='areaList' id='area'>
			        			<option value="{$area.id}"<eq name='area.id' value='$info.aid'> selected </eq> >{$area.name}</option>
			        		</volist>
						</select>           
			        </div>
			    </div>
			 
			    <div class="form-group">
			        <label class="col-sm-3 control-label">活动时间：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required" name="times" value="{$info.times}" maxlength='50'>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">活动地点：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required" name="address" value="{$info.address}" maxlength='50'>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">报名时间：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input type="text" id="start_time" name="start_time" value="<empty name='info.start_time'>{:date('Y-m-d H:i')}<else/>{$info.start_time|date='Y-m-d H:i', ###}</empty>" class="wid_24  pointer datepicker form-control" style='width:40%;float:left;' readonly />
			        	<span style='float:left;'>&nbsp;&nbsp;至&nbsp;&nbsp;</span>
			        	<input type="text" id="end_time" name="end_time" value="<empty name='info.end_time'>{:date('Y-m-d H:i', time() + 3600 * 24 * 3)}<else/>{$info.end_time|date='Y-m-d H:i', ###}</empty>" class="wid_24  pointer datepicker form-control" style='width:40%;' readonly />
			        </div>
			    </div>
			    <div class="form-group">
					<label  class="col-sm-3 control-label">报名人数：</label>
					<div class="col-sm-4">
						<label class="radio-inline">
			                <input type="radio" value="0" id="type1" name="limit_type" <elt name="info.limit_type" value="0">checked</elt>>不限制
			            </label>
			            <label class="radio-inline">
			                <input type="radio" value="1" id="type2" name="limit_type" <eq name="info.limit_type" value="1">checked</eq>>限制总量
			            </label>
<!-- 			        <label class="radio-inline"> -->
<!-- 			        	<input type="radio" value="2"  id="type3" name="limit_type" <eq name="info.limit_type" value="2">checked</eq>>限制每天量 -->
<!-- 			        </label> -->
		            </div>
		        </div>
			    <div class="form-group num" <elt name='info.limit_type' value='0'> style="display:none;" </elt> >
			        <label class="col-sm-3 control-label">限制数量：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required digits" name="num" value="{$info.num}">
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">排序：</label>
			        <div class="col-sm-4">
			        	<input class="form-control digits" name="sort" value="{$info.sort|default=100}">
			        </div>
			        <small>请输入正整数</small>
			    </div>
			    <div class="form-group">
					<label  class="col-sm-3 control-label">状态：</label>
					<div class="col-sm-4">
			            <label class="radio-inline">
			                <input type="radio" value="1" id="status1" name="status" <neq name="info.status" value="0">checked</neq>>启用
			            </label>
			            <label class="radio-inline">
			                <input type="radio" value="0"  id="status2" name="status" <eq name="info.status" value="0">checked</eq>>禁用
			            </label>
		            </div>
		        </div>
		       	<div class="form-group">
		           <label class="col-sm-3 control-label">活动说明：<span class="c-red">*</span></label>
		           <div class="col-sm-4">
		           		<textarea rows="3" class="form-control keditor" name="desc">{$info.desc}</textarea>
		           </div>
		        </div>
		        <gt name='info.id' value='0'> <input type='hidden' name='id' id="id" value='{$info.id}'></gt>
		        <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
				        <button class="btn btn-primary" type="submit">提交</button>
				       	<a href="{:U('Community/index')}"><button class=" btn btn-default" type="button">返回</button></a>
		       		</div>
		       	</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src='{:COM}js/daterangepicker.min.js'></script>
<script>
	$(document).ready(function() {
		$('input.datepicker').datetimepicker({format : "yyyy-mm-dd hh:ii", minView : 0, autoclose : true});
		$('input[name="limit_type"]').change(function(){
			var limit_type = $("input[name='limit_type']:checked").val();
			if(limit_type > 0){
				$('.num').show();
			}else{
				$('.num').hide();
			}
		});
	});
</script>