<div class="row"> <h3 class="page-header">社区活动管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
            	 <!-- <label><button class="btn btn-primary addSign">添加</button></label> -->
            	<label><a class="btn btn-default" href="{:U('Community/index')}">返回</a></label>
				<form action='{:U("Community/sign")}' class="form-inline text-right m-b-5" style="float:right;" >
            <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20" style="width: 150px;"placeholder="姓名">
            <input type="text" name='phone' value='{$Think.get.phone}' class="form-control mr20 mobile" style="width: 150px;"placeholder="手机号">
            	   <input type="hidden" name='cid' value='{$Think.get.cid}'>
            	   <div class="form-group">
                        <select class="form-control" id="aid" name="aid">
                            <option value="-1" >请选择小区</option>
                            <volist name='areaList' id='area'>
                                <option value='{$area.id}' <eq name='Think.get.aid' value='$area["id"]'>selected</eq>>{$area.name}</option>
                            </volist>
                        </select>           
                    </div>
                    <div class="btn-group">
						<button type="submit" class="btn btn-primary">搜索</button>
						<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="{:U('Community/export', $_GET)}">导出结果</a></li>
							<li><a href="{:U('Community/index')}">清除条件</a></li>
						</ul>
					</div>
				</form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>姓名</th>
                                <th>手机号码</th>
                                <th>报名时间</th>
                                <th>所在小区</th>
                                <th>房号</th>
                                <!-- <th>备注信息</th>
                                <th width="150">操作</th> -->
                            </tr>
                        </thead>
                        <tbody>
                        	<volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.name}</td>
                                    <td>{$list.phone}</td>
                                    <td>{$list.times|date='Y-m-d H:i:s', ###}</td>
                                    <td>{$list.area}</td>
                                    <td>{$list.room}</td>
                                    <td>{$list.remark|default="无"}</td>
                                    <td class="last">
                                        <?php if(in_array($list['aid'], array_filter(explode(',', $_SESSION['adminInfo']['aid'])))){?><button type="button" class="btn-sm btn btn-default editSign" data-id="<?php echo $list['id'];?>">修改</button><?php }?>
                                      	<?php if(!is_numeric($list['oid'])){?><button data-url='/Admin/Community/delSign/id/<?php echo $list["id"];?>' class="btn-sm btn btn-default delBtn" type="button">删除</button><?php }?>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<!-- <div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="{:U('Community/addSign')}" id="myform" class="form-horizontal">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                    <h4 class="modal-title">添加报名</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">姓名<span class="c-red">*</span></label>
                        <div class="col-sm-6"><input class="form-control required" name="name" maxlength="10"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">手机号<span class="c-red">*</span></label>
                        <div class="col-sm-6"><input class="form-control required mobile" name="phone" maxlength="11"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">小区<span class="c-red">*</span></label>
                        <div class="col-sm-6">
                            <select name='aid' class="form-control">
                                <volist name="areaList" id="areaList1">
                                    <option value='{$areaList1.id}'>{$areaList1.name}</option>
                                </volist>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">房号<span class="c-red">*</span></label>
                        <div class="col-sm-6"><input class="form-control required" name="oid" maxlength="20"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注</label>
                        <div class="col-sm-6"><textarea rows="2" class="form-control" name="remark"></textarea></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                    <button class="btn btn-primary" type="submit">保存</button>
                </div>
                <input type="hidden" name="cid" value="{$Think.get.cid}">
                <input type="hidden" name="id">
            </form>
        </div>
    </div>
</div> -->
<script>
$(function(){
	//添加报名数据
    $('.addSign').click(function(){
        $('#myform')[0].reset();
        $('#myModal').modal('show');
    });
    //修改报名数据
    $('.editSign').click(function(){
        $('#myform')[0].reset(); $('.modal-title').html('修改报名');
        var id = $(this).data('id'); waiting();
        $.get('{:U("Community/editSign")}', {id: id}, function(data){
            complete();
            $('#myform input[name="id"]').val(id);
            $('#myform input[name="name"]').val(data.name);
            $('#myform input[name="phone"]').val(data.phone);
            $('#myform input[name="oid"]').val(data.oid);
            $('#myform select').val(data.cid);
            $('#myform textarea').val(data.remark);
            $('#myform').attr('action', '{:U("Community/editSign")}');
        });
        $('#myModal').modal('show');
    });
	
	/* var cateList = $.parseJSON('{$cateStr}');
	$('#pid').on('change', function(){
		var id = $(this).val(), html='<option value="0">请选择分类</option>';
		for(var i = 0; i < cateList.length; i++){
			if(cateList[i]['pid'] == id){
				html += '<option value="'+cateList[i]['id']+'">'+cateList[i]['name']+'</option>';
			}
		}
		$('#cate_id').html(html);
	});
	$('.look').click(function(){
		$('#myModal').modal('show');
	}); */
})
</script>