<link href="{:COM}css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row"> <h3 class="page-header">投诉建议</h3></div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
                <label><a class="btn btn-primary" href="{:U('Complaint/addComplaint')}">添加投诉建议</a></label>
               <!--  <label><a class="btn btn-primary export">数据导出</a></label> -->
				<form action='{:U("Complaint/index")}' class="form-inline text-right m-b-5" style="float:right;">
				<select name='sid' id='sid' class="form-control mr20 cate_id" style="width: 150px;">
        					<option value='0' >请选择负责人</option>
        					<volist name="serviceList" id='service'>
        						<option value='{$service.id}' <eq name='Think.get.sid' value='$service.id'> selected </eq> >{$service.name}</option>
        					</volist>
                    	</select>
               <!--  <select name='aid' class="form-control mr20" style="width: 150px;" placeholder="所在小区">
                        <option value='0'>全部</option>
                        <volist name="areaList" id="areaList1">
                        <option value='{$areaList1.id}' <eq name='Think.get.aid' value='$areaList1["id"]'>selected</eq> >{$areaList1.name}</option>
                        </volist>
                    </select> -->
                    <input type="text" name='area' value='{$Think.get.area}' class="form-control mr20 w150" placeholder="小区名称">
               <select name='status' class="form-control mr20" style="width: 150px;">
                        <option value='-1'>状态</option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >未处理</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >已处理</option>
                        <option value='2' <eq name='Think.get.status' value='2'>selected</eq> >已完成</option>
                    </select>
                    <!-- <button class="btn btn-primary" type="submit">搜索</button>
                    <a href="{:U('Complaint/export', $_GET)}"><button class="btn btn-primary" type="button">导出结果</button></a> -->
                    <div class="btn-group">
						<button type="submit" class="btn btn-primary">搜索</button>
						<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="{:U('Complaint/export', $_GET)}">导出结果</a></li>
							<li><a href="{:U('Complaint/index')}">清除条件</a></li>
						</ul>
					</div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>业主姓名</th>
                                <th>业主手机</th>
                                <th>所在小区</th>                       
                                <th>投诉/建议内容</th>
                                <th>投诉/建议时间</th>
                                <th>反馈时间</th>
                                <th>负责人</th>
                                <th width="75">状态</th>
                                <th width="200">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.oname}</td>
                                    <td>{$list.phone}</td>
                                    <td>{$list.area}</td>
                                    <td>{$list.desc|msubstr=0,36}</td>
                                    <td>{$list.times|date='Y-m-d H:i:s', ###}</td>
                                    <td><gt name='list.deal_time' value='0'>{$list.deal_time|date='Y-m-d H:i:s', ###}<else />未处理</gt></td>
                                    <td>{$list.name|default='暂无'}</td>
                                    <td class="last">
                                    	<switch name='list.status'>
                                    		<case value='0'><button class='btn-status btn-danger' type="button" >未处理</button></case>
                                    		<case value='1'><button class='btn-status btn-info' type="button" >已处理</button></case>
                                    		<case value='2'><button class='btn-status btn-success' type="button" >已完成</button></case>
                                    	</switch>
                                    </td>
                                    <td class="last">
                                     	<button class="btn-sm btn btn-default look" data-id='{$list.id}' type="button">查看</button>
                                     	<eq name="list.status" value='0'><button class="btn-sm btn btn-default deal deal{$list.id}" data-id='{$list.id}' data-fid='{$list.fid}' data-name='{$list.oname}' data-phone='{$list.phone}' type="button">处理</button></eq>
                                        <lt name="list.status" value='1'><button data-url='{:U("Complaint/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button></lt> 
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>

<div id="myModal2" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content detail"></div>
    </div>
</div>
<div id="myModal3" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <form action="{:U('Complaint/export')}" role="form" id="myform" class="form-horizontal" data-callback="export_data">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">数据导出</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-4 control-label">文件名：<span class="c-red">*</span></label>
                    <div class="col-sm-4">
                      <input class="form-control required" name="name" maxlength='10'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">选择小区：<span class="c-red">*</span></label>
                    <div class="col-sm-4">
                      <select class="form-control" name="aid">
                        <option value="0">全部</option>
                        <volist name="areaList" id="areaList2">
                        <option value='{$areaList2.id}'>{$areaList2.name}</option>
                        </volist>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">选择状态：<span class="c-red">*</span></label>
                    <div class="col-sm-4">
                      <select class="form-control" name="status">
                        <option value="-1">全部</option>
                        <option value='0'>未处理</option>
                        <option value='1'>已处理</option>
                        <option value='2'>已完成</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <label class="col-sm-4 control-label">选择时间：<span class="c-red">*</span></label> -->
                    <div class="col-sm-2"><input class="form-control datepicker required" placeholder="开始时间" name="start_time"></div>
                    <div class="col-sm-2"><input class="form-control datepicker required" placeholder="结束时间" name="end_time"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class=" btn btn-default" type="button">关闭</button>
                <button class="btn btn-primary export_submit" type="button">导出</button>
            </div>
        </form>
        </div>
    </div>
</div>
<div tabindex="-1" id="myModal" class="modal fade" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
        	<form action='{:U("Complaint/edit")}' id='myform' class="form-inline" method='post'>
	        	<div class="modal-header">
                	<button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                	<h4 id="myModalLabel" class="modal-title">提交处理信息</h4>
           		</div>
                <div class="modal-body">
                	<textarea rows="5" class="form-control required" style="width:100%;" name="feedback" maxlength='500'></textarea>
	            </div>
	            <div class="modal-footer">
	                <button data-dismiss="modal" class=" btn btn-default" type="button">关闭</button>
                    <input type="hidden" name="id" />
                    <input type="hidden" name="fid" />
                    <input type="hidden" name="name" />
	                <input type="hidden" name="phone" />
	                <button class="btn btn-primary save" type="button">保存</button>
	            </div>
	       </form>
        </div>
    </div>
</div>
<script type="text/javascript" src='{:COM}js/daterangepicker.min.js'></script>
<script>
$(function(){
	//处理
	$('.deal').click(function(){
        $('#myModal input[name="id"]').val($(this).data('id'));
        $('#myModal input[name="fid"]').val($(this).data('fid'));
        $('#myModal input[name="name"]').val($(this).data('name'));
		$('#myModal input[name="phone"]').val($(this).data('phone'));
		$('#myModal').modal('show');
	});
	//查看
	$('.look').click(function(){
		waiting();
		$.get('{:U("Complaint/detail")}', {id:$(this).data('id')}, function(data){
			complete();
			$('.detail').html(data);
		});
		$('#myModal2').modal('show');
	});
	//管理员回复
	$('body').on('click', '.submit', function(){
  		var id = $('#id').val(), content = $('#content').val();
  		if(content){waiting();
  		    $.post('{:U("Complaint/detail")}', {id: id, content: content}, function(data){
  		        complete();
  		        if(data.status > 0){
  		        	  showInfo('反馈成功');
  		        	  $('#myModal2').modal('hide');
  		        }else{
  		        	  showInfo('反馈失败，请稍后再试');
  		        }
  		    });
  		}else{
  			  showInfo('请输入反馈内容');
  		}
	});
    //导出数据，时间选择插件
    $('input.datepicker').datetimepicker({format : "yyyy-mm-dd", minView : 2, autoclose : true});
    //导出数据，选择小区和时间等
    $('.export').click(function(){$('#myModal3').modal('show');});
    //导出数据，提交表单
    $('.export_submit').click(function(){$('#myModal3 #myform').submit();});
    $('.save').click(function(){
    	var feedback = $('textarea[name="feedback"]').val();
    	var id=$('#myModal input[name="id"]').val();
    	if(feedback){
    		waiting();
    		$.post('{:U("Complaint/edit")}', $('#myModal #myform').serialize(), function(data){
  		        complete();
  		        if(data.status > 0){
  		        	showInfo('反馈成功');
  		        	$('#myModal').modal('hide');
  		        	$('.deal'+id).parents('tr').find('td').eq(7).find('button').removeClass('btn-default').addClass('btn-primary').html('已处理');
  		        	$('.deal'+id).remove();
  		        }else{
  		        	  showInfo('反馈失败，请稍后再试');
  		        }
  		    });
    	}else{
    		showInfo('请输入反馈信息');
    	}
    });
});
//导出回调函数
function export_data(data){
    $('#myModal3').modal('hide');
    location.href = data.url;
}
</script>