<div class="row"><h3 class="page-header">板块分类</h3></div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
            	<label><a class="btn btn-primary addCate">添加分类</a></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>名称</th>
                                <th>前台链接地址</th>
                                <th width="75">排序</th>
                                <th width="75">状态</th>
                                <th width="180">操作</th>
                            </tr>
                        </thead>     
                        <tbody>
                        	<volist name="list" id="list">
	                            <tr class="odd gradeX">
	                                <td>{$i}</td>
	                                <td>{$list.name}</td>
	                                <td>{:C('site_url')}/Wap/Forum/index/pid/{$list.id}</td>
	                                <td><input class="setSort" type="text" size="2" data-url="{:U('ForumPlate/setSort?id='.$list['id'])}" value="{$list.sort}"></td>
	                                <td class="center">
	                                 	<button class='btn <eq name="list.status" value="1">btn-primary<else />btn-default</eq> btn-sm setStatus' type="button" data-url='{:U("ForumPlate/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name="list.status" value='1'>启用<else />禁用</eq></button>
	                                </td>
	                                <td class="center">
	                                 	<a class="btn-sm btn btn-default editBtn" data-id='{$list.id}' >修改</a>
	                                 	<button data-url='{:U("ForumPlate/del?id=".$list["id"])}' class=" btn-sm btn btn-default delBtn" type="button">删除</button>
	                                 	<gt name='list.pid' value='0' >
		                                 	<a href='{:U("Forum/index?pid=".$list["pid"]."&cate_id=".$list["id"])}'>
		                                 		<button class="btn-sm btn btn-default" type="button">帖子</button>
		                                 	</a>
	                                 	</gt>
	                                </td>
	                            </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
	        <form action="{:U('ForumPlate/add')}" style="width:100%;" id="myform" class="form-horizontal">
	            <div class="modal-header">
	                <button class="close" type="button" data-dismiss="modal">×</button>
	                <h4 class="modal-title">添加页面</h4>
	            </div>
	            <div class="modal-body">
				    <div class="form-group">
				        <label class="col-sm-3 control-label">名称：</label>
				        <div class="col-sm-6">
				         	<input class="form-control required" name="name" value="" maxlength="10">
				        </div>
				        <small>不超过十个字</small>
				    </div>
				    <div class="form-group">
		               	<label class="col-sm-3 control-label">板块说明：</label>
		               	<div class="col-sm-6">
		               		<textarea rows="3" class="form-control" name="desc" maxlength='200'>{$info.desc}</textarea>
		               	</div>
			        </div>
	            </div>
	            <div class="modal-footer">
	                <button data-dismiss="modal" class=" btn btn-default" type="button">关闭</button>
					<input type="hidden" name="id" />
					<input type="hidden" name="p" value='{$_GET["p"]}' />
	                <button class="btn btn-primary" type="submit">保存</button>
	            </div>
            </form>
        </div>
    </div>
</div>
<script>
$(function(){
	$('.editBtn').click(function(){
		$('#myform')[0].reset();
		$('.uploadify-div').html('');
		var id = $(this).data('id');
		$('.modal-title').html('修改页面');
		waiting();
		$.get('{:U("ForumPlate/edit")}', {id:id}, function(data){
			complete();
			if(data){
				$('#myform input[name="id"]').val(id);
				$('#myform input[name="name"]').val(data.name);
				$('#myform textarea[name="desc"]').html(data.desc);
				$("#myform select").find("option[value='"+data.pid+"']").attr("selected",true);
				$("#myform").attr('action', '{:U("ForumPlate/edit")}');
			}
		});
		$('#myModal').modal('show');
	});
	$('.addCate').click(function(){
		$('#myform')[0].reset();
		$('.modal-title').html('添加页面');
		$('#myModal').modal('show');
	});
});
</script>