{__NOLAYOUT__}
<style> img{width:200px;margin-right:10px;}</style>
<div class="modal-header">
    <button data-dismiss="modal" class="close" type="button">×</button>
    <h4 class="modal-title">查看信息</h4>
</div>
<div class="modal-body" id="html">
	<div>
		<b>业主姓名：{$info.owner}&nbsp;&nbsp;&nbsp;
		联系方式：{$info.phone}&nbsp;&nbsp;&nbsp;
		支付时间：{$info.pay_time|date='Y-m-d H:i:s', ###}&nbsp;&nbsp;&nbsp;<br>
		产品名称：{$info.pname}</b>
		<hr>
	</div>
	<eq name="info.status" value="5">
		<div>
			<b>评分：{$info.comment.score}&nbsp;&nbsp;&nbsp;评价时间：{$info.comment.times|date='Y-m-d H:i:s', ###}</b>
			<br><b>评论内容：</b>{$info.comment.desc}<br><hr>
		</div>
	</eq>
	<volist name='list' id='list'>
		<div>
			<b>发送人：{$list.name}&nbsp;&nbsp;&nbsp;联系方式：{$list.phone}&nbsp;&nbsp;&nbsp;时间：{$list.times|date='Y-m-d H:i:s', ###}</b>
			<br>{$list.content}<br>
		    <hr>
	    </div>
	</volist>
	<lt name='info.status' value="5">
    <!-- <neq name='info.status' value="1">
         <div><textarea rows="3" class="form-control" id="content" data-pid='{$info.pid}' placeholder="请输入回复内容"></textarea></div>
    </neq> -->
    </lt>
	<input name='id' value='{$info.id}' type='hidden' id='id' />
</div>
<div class="modal-footer">
    <button data-dismiss="modal" class=" btn btn-default" type="button">关闭</button>
    <!-- <lt name='info.status' value="5"><neq name='info.status' value="1"><button class="btn btn-primary submit save" type="button">提交</button></neq></lt> -->
</div>
<script>
	$(function(){
	  $(".save").click(function(){
	        var obj=$('textarea');
	        var content =obj.val();
	        var id=$("input[name='id']").val();
	        $.post('{:U("GroupComment/addFollow")}',{content:content,id:id},function(data){
	               showInfo(data.info);
	                $('#myModal').modal('hide');
	        });
	  });
	}); 
</script>