<div class="row"><h3 class="page-header">评论管理</h3></div>
<div class="row">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th width="60">序号</th>
                            <th>业主</th>
                            <th>联系方式</th>
                            <th>产品名称</th>
                            <th>评分</th> 
                            <th>评论时间</th> 
                            <th>支付时间</th>
                            <th width="130">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list" id="list">
                            <tr>
                                <td>{$i}</td>
                                <td>{$list.owner}</td>
                                <td>{$list.phone}</td>
                                <td>{$list.pname}</td>
                                <td>{$list.score}</td> 
                                <td>{$list.times|date='Y-m-d H:i', ###}</td> 
                                <td>{$list.pay_time|date='Y-m-d H:i', ###}</td>
                                <td class="last">
                                    <button class="btn-sm btn btn-default look" data-id='{$list.id}'  data-rid='{$list.rid}' data-type="{$list.typeid}" type="button">查看</button>
                                </td>
                            </tr>
                        </volist>
                    </tbody>
                </table>
            </div>
            {$page}
        </div>
    </div>
</div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="html"></div>
    </div>
</div>
<script type="text/javascript">
    var type = parseInt("{$_GET['type']}");
    $('.look').click(function(){
        type = type > 0 ? type : 3;
        if(type == 3){
            waiting();
            $.get('{:U("GroupComment/detail")}', {id : $(this).data('type')}, function(data){
                complete();$('#html').html(data);
          });
      }
      $('#myModal').modal('show');
  });
</script>

    