<div class="row"> <h3 class="page-header">商家列表</h3></div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
          		<label><a class="btn btn-primary" href="{:U('Merchant/add')}">添加商家</a></label>
				<form action='{:U("Merchant/index")}' class="form-inline text-right m-b-5" style="float:right;">
					<div class="form-group">
    				    <select class="form-control" id="aid" name="aid">
    				     	<option value="0" >全部小区</option>
    				     	<volist name='areaList' id='area'>
    		        			<option value="{$area.id}"<eq name='area.id' value='$_GET.aid'> selected </eq> >{$area.name}</option>
    		        		</volist>
    					</select>           
    				</div>
    				<div class="form-group">
    				    <select class="form-control" id="type_id" name="type_id">
    				     	<option value="0" >全部分类</option>
    				     	<volist name='typeList' id='type'>
    		        			<option value="{$type.id}"<eq name='type.id' value='$_GET.type_id'> selected </eq> >{$type.name}</option>
    		        		</volist>
    					</select>           
    				</div>
          <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20" style="width: 150px;" placeholder="商家名称">
             <select name='status' class="form-control mr20" style="width: 150px;">
                        <option value='-1'>状态</option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用</option>
                     <!--    <option value='2' <eq name='Think.get.status' value='2'>selected</eq> >已删除</option> -->
                        
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width='60'>序号</th>
                                <th>商家名称</th>
                                <th>商家类型</th>
                                <th>联系方式</th>
                                <th>所属小区</th>
                                <th width='75'>排序</th>
                                <th width='75'>状态</th>
                                <th width='120'>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.name}</td>
                                    <td>{$list.type}</td>
                                    <td>{$list.phone}</td>
                                    <td>{$list.area}</td>
                                    <td>
                                        <input class="setSort" type="text" size="2" data-url="{:U('Merchant/setSort?id='.$list['id'])}" value="{$list.sort}">
                                    </td>
                                    <td class="center">
                                    <button class='btn <eq name="list.status" value="1">btn-primary<else />btn-default</eq> btn-sm setStatus' type="button" data-url='{:U("Merchant/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name="list.status" value='1'>启用<else />禁用</eq></button>
                                    </td>
                                    <td class="center">                                    
                                     	<a href='{:U("Merchant/edit?id=".$list["id"])}' class="btn-sm btn btn-default">修改</a>
                                      	<button data-url='{:U("Merchant/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>
                                   </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>