<div class="row"> <h3 class="page-header">轮播图</h3></div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
          		<label><a class="btn btn-primary" href="{:U('MerchantSlide/add')}">添加图片</a></label>
				<form action='{:U("MerchantSlide/index")}' class="form-inline text-right m-b-5" style="float:right;">
					<div class="form-group">
    				    <select class="form-control" id="aid" name="aid">
    				     	<option value="-1" >请选择小区</option>
                            <option value='0'<eq name='Think.get.aid' value='0'>selected</eq> >全部小区</option>
    				     	<volist name='areaList' id='area'>
    		        			<option value="{$area.id}"<eq name='area.id' value='$_GET.aid'> selected </eq> >{$area.name}</option>
    		        		</volist>
    					</select>           
    				</div>
        <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20" style="width: 150px;" placeholder="幻灯片标题">
             <select name='status' class="form-control mr20" style="width: 150px;">
                        <option value='-1'>状态</option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用</option>
                       
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>标题</th>
                                <th>添加时间</th>
                                <th>所属小区</th>
                                <th>链接</th>
                                <th width="75">排序</th>
                                <th width="75">状态</th>
                                <th width="120">操作</th> 
                            </tr>
                        </thead>
                        <tbody>
                        	<volist name="list" id="list">
                                <tr class="odd gradeX">
                                    <td>{$i}</td>
                                    <td>{$list.title}</td>
                                    <td>{$list.times|date='Y-m-d H:i:s',###}</td>
                                    <td>{$list.name|default='全部小区'}</td>
                                    <td><notempty name='list.url'> <a href="{$list.url}" target="_blank">点击查看</a><else /> <a href="{:C('site_url')}/Wap/About/detail?type=2&id={$list.id}" target="_blank">点击查看</a></notempty></td>
                                    <td>
                                        <input class="setSort" type="text" size="2" data-url="{:U('MerchantSlide/setSort?id='.$list['id'])}" value="{$list.sort}">
                                    </td>
                                    <td class="last">
                                       	<button class='btn <eq name="list.status" value="1">btn-primary<else />btn-default</eq> btn-sm setStatus' type="button" data-url='{:U("MerchantSlide/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name="list.status" value='1'>启用<else />禁用</eq></button>
                                    </td>
                                    <td class="last">                                                               
                                     	<a href='{:U("MerchantSlide/edit?id=".$list["id"])}' class="btn-sm btn btn-default">修改</a>
                                      	<button data-url='{:U("MerchantSlide/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>                                     	
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>