<link href="{:COM}css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row"> <h3 class="page-header">业主管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
            <label><a class="btn btn-primary add">积分操作</a></label>
				<form action='{:U("Owner/getPoint", $_GET)}' class="form-inline text-right fr m-b-5" >
					<input type="text" name='start_time' value='{$Think.get.start_time}' placeholder="起始时间" class="form-control w100 datepicker">
	                <input type="text" name='end_time' value='{$Think.get.end_time}' placeholder="结束时间" class="form-control w100 datepicker">
				    <div class="form-group">
					    <select class="form-control" name="type">
							<option value="0">全部</option>
							<option value="1" <eq name='Think.get.type' value='1'> selected </eq> >获得积分</option>
							<option value="2" <eq name='Think.get.type' value='2'> selected </eq> >花费积分</option>
						</select>
					</div>
		        	<button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>积分</th>
                                <th>时间</th>
                                <th>原因</th>
                                <th>操作人</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<volist name="list" id="list">
	                            <tr class="odd gradeX">
	                                <td>{$i}</td>
	                                <td><eq name='list.type' value='1'>+<else />-</eq> {$list.point}</td>
	                                <td>{$list.times|date='Y-m-d H:i:s', ###}</td>
	                                <td>{$list.name}</td>
	                                <td>{$list.users|default="系统"}</td>
	                            </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
	        <form id="myform" class="form-horizontal">
	            <div class="modal-header">
	                <button data-dismiss="modal" class="close" type="button">×</button>
	                <h4 class="modal-title">积分操作</h4>
	            </div>
	            <div class="modal-body">
	              	<div class="form-group">
					<label  class="col-sm-3 control-label">操作：</label>
					<div class="col-sm-6">
			            <label class="radio-inline"><input type="radio" value="1" name="type" checked>获得积分</label>
			            <label class="radio-inline"><input type="radio" value="2" name="type">花费积分</label>
		            </div>
		        </div>
				<div class="form-group">
			        <label class="col-sm-3 control-label">积分：<span class="c-red">*</span></label>
			        <div class="col-sm-6">
			        	<input class="form-control required number" name="point">
			        </div>
			    </div>
		        <div class="form-group">
			        <label class="col-sm-3 control-label">原因：<span class="c-red">*</span></label>
			        <div class="col-sm-6">
			        	<input class="form-control required" name="name">
			        </div>
			    </div>
	          </div>
	            <div class="modal-footer">
	               	<button data-dismiss="modal" class=" btn btn-default" type="button">关闭</button>
	                <button class="btn btn-primary" type="submit">保存</button>
	            </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src='{:COM}js/daterangepicker.min.js'></script>
<script>
$(function(){
	$('input.datepicker').datetimepicker({format : "yyyy-mm-dd", minView : 2, autoclose : true});
	$('.add').click(function(){
		$('#myform')[0].reset();
		$('#myModal').modal('show');
	});
});
</script>