<div class="row"> 
	<h3 class="page-header">业主管理<small>/<gt name='info.id' value='0'>修改<else/>添加</gt>业主</small></h3>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form" id="myform" method="post"  class="form-horizontal">
			    
			 	<div class="form-group">
			        <label class="col-sm-3 control-label">业主姓名：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required" name="name" value="{$info.name}" maxlength='30'>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">联系方式：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required mobile" name="phone" value="{$info.phone}" maxlength='11'>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">小区：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control required" id="aid" name="aid">
			        		<option value="" >请选择小区</option>
			        		<volist name='areaList' id='area'>
			        			<option value="{$area.id}"<eq name='area.id' value='$info.aid'> selected </eq> >{$area.name}</option>
			        		</volist>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">楼栋号：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control required" id="bid" name="bid">
			        		<option value="" >请选择楼栋号</option>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">单元号：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control required" id="uid" name="uid">
			        		<option value="" >请选择单元号</option>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">房间号：<span class="c-red">*</span></label>
			        <div class="col-sm-4 rooms">请先依次选择小区、楼栋和单元</div>
			    </div>
		        <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
				        <button class="btn btn-primary" type="submit">提交</button>
				       	<a href="{:U('Owner/index')}"><button class=" btn btn-default" type="button">返回</button></a>
		       		</div>
		       	</div>
		        <input type='hidden' name='id' id="id" value='{$info.id}'>
		        <input type="hidden" name="area" value="{$info.area}">
		        <input type="hidden" name="room" value="{$info.room}">
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" >
$(function(){
	var aid1 ='{$info["aid"]}', bid1 = '{$info["bid"]}', uid1 = '{$info["uid"]}', rid1 = '{$info["rid"]}', id = '{$info["id"]}';
	if(aid1 > 0){
		waiting();
		$.get('{:U("Owner/ajaxGetABR")}', {type: 2, aid : aid1}, function(data){
			complete(); var html = '';
			$(data).each(function(i, v){
				if(v.id == bid1){
					var selected = 'selected', uhtml = '';
					$(v.units.split(',')).each(function(i, v){
						if(v > 0){
							var uselected = v == uid1 ? 'selected' : '';
							var title = v == 11 ? '无' : v;
							uhtml += '<option value="' + v + '" ' + uselected + '>' + title + '单元</option>';
						}
					});
					$('#uid').html(uhtml);
				}
				html += '<option data-units="' + v.units + '" value="' + v.id + '" ' + selected + '>' + v.name + '</option>';
			});
			$('#bid').html(html);
		});

		$.get('{:U("Owner/ajaxGetABR")}', {type: 3, aid: aid1, bid: bid1}, function(data){
			complete(); var html = '';
			if(data){
				for(var i = 0; i< data.length; i++){
					if(rid1 == data[i]['id']){
						$('input[name="room_name"]').val(data[i]['name']);
						html += '<label class="radio-inline"><input type="radio" data-name="'+data[i]['name']+'" checked value="'+data[i]['id']+'" name="rid" >'+data[i]['name']+'</label>';
					}else if(data[i]['oid'] > 0){
						html += '<label class="radio-inline"><input type="radio" data-name="'+data[i]['name']+'" disabled="true" value="'+data[i]['id']+'" name="rid" >'+data[i]['name']+'</label>';
					}else{
						html += '<label class="radio-inline"><input type="radio" data-name="'+data[i]['name']+'" value="'+data[i]['id']+'" name="rid" >'+data[i]['name']+'</label>';
					}
				}
			}else{
				html = '';
			}
			$('.rooms').html(html);
		});
	}
	
	$('#aid').change(function(){
		var aid = $(this).val(), html = '<option value="">请选择楼栋</option>';
		$('input[name="area"]').val($(this).find('option:selected').html());
		if(aid > 0){
			waiting();
			$.get('{:U("Owner/ajaxGetABR")}', {type: 2, aid : aid}, function(data){
				complete();
				$(data).each(function(i, v){
					html += '<option data-units="' + v.units + '" value="' + v.id + '" >' + v.name + '</option>';
				});
				$('#bid').html(html);
				$('#uid').html('<option value="">请选择单元</option>');
			});
		}
	});

	$('#bid').change(function(){
		var units = $(this).find('option:selected').data('units').split(','), html='<option value="">请选择单元</option>';
		$(units).each(function(i, v){
			if(v > 0){
				var title = v == 11 ? '无' : v;
				html += '<option value="' + v + '">' + title + '单元</option>';
			}
		});
		$('#uid').html(html);
	});

	$('#uid').change(function(){
		var bid = $('#bid').val(), uid = $(this).val(), html = '';
		if(bid > 0 && uid > 0){
			waiting();
			$.get('{:U("Owner/ajaxGetABR")}', {type: 3, uid : uid, bid : bid}, function(data){
				complete();
				$(data).each(function(i, v){
					html += '<label class="radio-inline"><input type="radio" value="' + v.id + '" data-name="' + v.name + '" name="rid" >' + v.name + '</label>';
				});
				$('.rooms').html(html);
			});
		}
	});

	$('body').on('click', 'input[name="rid"]', function(){
		$('input[name="room"]').val($(this).data('name'));
	});
});
</script>