<link href="{:COM}css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row"> <h3 class="page-header">业主管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
          		<label><a class="btn btn-primary" href="{:U('Owner/add')}">添加业主</a></label>
				<form action='{:U("Owner/index")}' class="form-inline text-right fr m-b-5" >
					 <div class="form-group">
                        <select class="form-control" id="aid" name="aid">
                            <option value="0" >请选择小区</option>
                            <volist name='areaList' id='area'>
                                <option value='{$area.id}' <eq name='Think.get.aid' value='$area["id"]'>selected</eq>>{$area.name}</option>
                            </volist>
                        </select>           
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="bid" name="bid">
                            <option value="0" >请选择楼栋</option>
                        </select>           
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="uid" name="uid">
                            <option value="0" >请选择单元</option>
                        </select>           
                    </div>
					<input type="text" name='name' value='{$Think.get.name}' class="form-control w150" placeholder="业主姓名">
					<input type="text" name='phone' value='{$Think.get.phone}' class="form-control w150" placeholder="手机号码">
					<input type="text" name='start_time' value='{$Think.get.start_time}' placeholder="起始时间" class="form-control w100 datepicker" >
	                <input type="text" name='end_time' value='{$Think.get.end_time}' placeholder="结束时间" class="form-control w100 datepicker" >
                  	 <select name='status' class="form-control w100" >
                        <option value='-1'>状态</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >已审核</option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >未审核</option>
                    </select>
					<div class="btn-group">
						<button type="submit" class="btn btn-primary">搜索</button>
						<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="{:U('Owner/index', $_GET)}?act=1">导出结果</a></li>
							<li><a href="{:U('Owner/index')}">清除条件</a></li>
						</ul>
					</div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>姓名</th>
                                <th>昵称</th>
                                <th>电话号码</th>
                                <th>身份</th>
                                <th>房号</th>
                                <th>积分</th>
                                <th>注册时间</th>
                                <th width="75">状态</th>
                                <th width="160">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<volist name="list" id="list">
	                            <tr class="odd gradeX">
	                                <td><?php echo $_GET['p'] > 1 ? (($_GET['p'] - 1) * 12 + $i) : $i;?></td>
	                                <td>{$list.name}<elt name='list.fid' value='0'>【WXBD#1#{$list.phone}#{$list.id}】</elt></td>
	                                <td>{$list.nickname|default="无"}</td>
	                                <td>{$list.phone}</td>
	                                <td><eq name='list.pid' value='0'>业主<else />亲友/租客</eq></td>
	                                <td>{$list.area} {$list.room}</td>
	                                <td>{$list.point}</td>
	                                <td><notempty name='list.reg_time'>{$list.reg_time|date='Y-m-d H:i', ###}<else/>未知</notempty></td>
	                                <td>
	                                 	<switch name='list.status'>
											<case value='0'><button type="button" class="btn-status btn-danger" >未审核</button></case>
											<case value='1'><button type="button" class="btn-status btn-success" >已审核</button></case>
										</switch>
	                                </td>
	                                <td class="last">
	                                 	<eq name='list.status' value='0'><button data-id='{$list.id}' class="btn btn-sm btn-default check" type="button">审核</button></eq>
	                                 	<a href='{:U("Owner/getPoint?oid=".$list["id"])}'><button class="btn btn-sm btn-default" type='button'>积分</button></a>
	                                  	<button data-url='{:U("Owner/del?id=".$list["id"])}' class="btn btn-sm btn-default delBtn" type="button">删除</button>
	                                </td>
	                            </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">详情页面</h4>
            </div>
            <div class="modal-body" style='height:200px;'></div>
            <div class="modal-footer">
                <button class="btn btn-danger adopt" data-type='0' type="button">删除</button>
                <button class="btn btn-primary adopt" data-type='1' type="button">审核通过</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src='{:COM}js/daterangepicker.min.js'></script>
<script type="text/javascript" >
	$('input.datepicker').datetimepicker({format : "yyyy-mm-dd", minView : 2, autoclose : true});
	$(function(){
	    var aid1 = {$Think.get.aid|default=0}, bid1 = {$Think.get.bid|default=0}, uid1 = {$Think.get.uid|default=0};
	    if(aid1 > 0){
	        waiting();
	        $.get('{:U("Room/ajaxGetABR")}', {type: 2, aid : aid1}, function(data){
	            complete(); var html = '<option value="" data-units="0,0">请选择楼栋</option>';
	            $(data).each(function(i, v){
	                if(v.id == bid1){
	                    var selected = 'selected', uhtml = '<option value="" data-units="0,0">请选择单元</option>';
	                    $(v.units.split(',')).each(function(i, v){
	                       if(v > 0){
	                            var uselected = v == uid1 ? 'selected' : '';
	                            var title = v == 11 ? '无' : v;
	                            uhtml += '<option value="' + v + '" ' + uselected + '>' + title + '单元</option>';
	                        }
	                    });
	                    $('#uid').html(uhtml);
	                }
	                html += '<option data-units="' + v.units + '" value="' + v.id + '" ' + selected + '>' + v.name + '</option>';
	            });
	            $('#bid').html(html);
	        });
	    }

	    $('#aid').change(function(){
	        var aid = $(this).val(), html = '<option value="" data-units="0,0">请选择楼栋</option>';
	        if(aid > 0){
	            waiting();
	            $.get('{:U("Room/ajaxGetABR")}', {type: 2, aid : aid}, function(data){
	                complete();
	                $(data).each(function(i, v){
	                    html += '<option data-units="' + v.units + '" value="' + v.id + '" >' + v.name + '</option>';
	                });
	                $('#bid').html(html);
	            });
	        }else{
	            $('#bid').html(html);
	        }
	        $('#uid').html('<option value="" data-units="0,0">请选择单元</option>');
	    });

	    $('#bid').change(function(){
	        var units = $(this).find('option:selected').data('units').split(','), html = '<option value="" data-units="0,0">请选择单元</option>';
	        $(units).each(function(i, v){
	            if(v > 0){
	                var title = v == 11 ? '无' : v;
	                html += '<option value="' + v + '">' + title + '单元</option>';
	            }
	        });
	        $('#uid').html(html);
	    });

	    var obj, id;
		$('.check').click(function(){
			obj = $(this), id = obj.data('id');
			var html = ''; waiting();
			$.post('{:U("Owner/detail")}', {id: id}, function(data){
				complete();
				if(data.status != 1){
					showInfo(data.info);
				}else{
					html = '<p class="col-sm-6">小区：' + data.area + '</p>';
					html += '<p class="col-sm-6">房号：' + data.room + '</p>';
					html += '<p class="col-sm-6">业主姓名：' + data.owner + '</p>';
					html += '<p class="col-sm-6">业主手机：' + data.	rphone + '</p>';
					html += '<p class="col-sm-6">申请人姓名：' + data.name + '</p>';
					html += '<p class="col-sm-6">申请人手机：' + data.phone + '</p>';
					$('.modal-body').html(html);
					$('#myModal').modal('show');
				}
			});
		});

		$('.adopt').click(function(){
			waiting(); var type = $(this).data('type');
			$.post('{:U("Owner/check")}', {id: id ,type: type}, function(data){
				complete();
				showInfo(data.info);
				if(data.status == 1){
					if(type == 1){
						obj.parents('tr').find('.btn-status').removeClass('btn-danger').addClass('btn-success').html('已审核');
						obj.remove();
					}else{
						obj.parents('tr').remove();
					}
					$('#myModal').modal('hide');
				}
			});
		});
	});
</script>
