<div class="row"> <h3 class="page-header">修改密码</h3></div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form id="myform" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">原始密码</label>
                    <div class="col-sm-6">
                        <input type="password" name="old_pwd" class="form-control required" placeholder="原始密码（必填）">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">新密码</label>
                    <div class="col-sm-6">
                        <input type="password" name="new_pwd" id="password2" class="form-control required" placeholder="新密码（必填）" maxlength='16' minlength='6'>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">确认密码</label>
                    <div class="col-sm-6">
                        <input type="password" equalTo="#password2" class="form-control required" placeholder="确认密码（必填）" maxlength='16' minlength='6'>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
                        <button type="submit" class="btn btn-primary">提交</button>
                        <button type="button" class=" btn btn-default" onclick="history.back();">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
