<div class="row"> <h3 class="page-header">星房推荐</h3></div>
    <div class="row">
        <div class="col-md-12"> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <label><a class="btn btn-primary" href="{:U('Recommend/add')}">添加</a></label>
                    <form action='{:U("Recommend/index")}' class="form-inline text-right fr m-b-5">
                        <div class="form-group">
                              <select class="form-control" id="aid" name="aid">
                                    <option value="-1" >请选择小区</option>
                                    <!-- <option value='0'<eq name='Think.get.aid' value='0'>selected</eq> >全部小区</option> -->
                                    <volist name='areaList' id='area'>
                                        <option value="{$area.id}"<eq name='area.id' value='$_GET.aid'> selected </eq> >{$area.name}</option>
                                </volist>
                                </select>
                        </div>
                <select name='status' class="form-control mr20 w150" >
                            <option value='-1'>状态</option>
                            <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用 </option>
                            <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用 </option>
                        </select>
                        <button class="btn btn-primary" type="submit">搜索</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="60">序号</th>
                                    <th>名称</th>
                                    <th>小区</th> 
                                    <th>联系电话</th> 
                                    <th width="70">排序</th>
                                    <th width="75">状态</th>
                                    <th width="130">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="list">
                                    <tr>
                                        <td>{$i}</td>
                                        <td>{$list.name}</td>
                                        <td>{$list.area}</td>
                                        <td>{$list.phone}</td>
                                        <td>
                                            <input class="setSort" type="text" size="2" data-url="{:U('Recommend/setSort?id='.$list['id'])}" value="{$list.sort}">
                                        </td>
                                        <td>
                                            <switch name='list.status'>
                                                <case value='0'>
                                                    <button class=" btn btn-default btn-sm setStatus" type="button" data-url='{:U("Recommend/setStatus?id=".$list["id"])}' data-status="{$list.status}">禁用</button>
                                                </case>
                                                <case value='1'>
                                                    <button class="btn btn-primary btn-sm setStatus" type="button" data-url='{:U("Recommend/setStatus?id=".$list["id"])}' data-status="{$list.status}">启用</button>
                                                </case>
                                            </switch>
                                        </td>
                                        <td>
                                            <a class=" btn btn-default btn-sm" href="{:U('Recommend/edit?id='.$list['id'])}">修改</a>
                                            <button data-url='{:U("Recommend/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                    {$page}
                </div>
            </div>
        </div>
    </div>