    <div class="row"> <h3 class="page-header">意向管理</h3></div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action='{:U("RentalService/intention")}' class="form-inline text-right fr m-b-5" >
                  姓名：<input type="text" name='name' value='{$Think.get.name}' class="form-control mr20 w150" >
                   意向类型：<select name='type' class="form-control mr20 w150" >
                            <option value='-1'>全部</option>
                            <option value='1' <eq name='Think.get.type' value='1'>selected</eq> >出租房屋</option>
                            <option value='2' <eq name='Think.get.type' value='2'>selected</eq> >出售房屋</option>
                            <option value='3' <eq name='Think.get.type' value='3'>selected</eq> >出租车位</option>
                            <option value='4' <eq name='Think.get.type' value='4'>selected</eq> >出售车位</option>
                            <option value='5' <eq name='Think.get.type' value='5'>selected</eq> >出租单间</option>
                        </select>
                  状态：<select name='status' class="form-control mr20 w150" >
                            <option value='-1'>全部</option>
                            <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >未处理</option>
                            <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >处理中</option>
                            <option value='2' <eq name='Think.get.status' value='2'>selected</eq> >已完成</option>
                            <option value='3' <eq name='Think.get.status' value='3'>selected</eq> >已删除</option>
                        </select>
                        <button class="btn btn-primary" type="submit">搜索</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th width="60">序号</th>
                                    <th>姓名</th>
                                    <th>手机</th>
                                    <th>业主</th>
                                    <th>业主手机</th>
                                    <th>意向类型</th>
                                    <th>提交时间</th> 
                                    <th>备注</th>
                                    <th width="75">状态</th>
                                    <th width="230">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="list">
                                    <tr class="odd gradeX">
                                        <td>{$i}</td>
                                        <td>{$list.name}</td>
                                        <td>{$list.phone}</td>
                                        <td>{$list.title}</td>
                                        <td>{$list.ophone}</td>
                                        <th> 
                                            <switch name='list.type'>
                                                <case value='1'>出租房屋</case>
                                                <case value='2'>出售房屋</case> 
                                                <case value='3'>出租车位</case> 
                                                <case value='4'>出售车位</case>  
                                                <case value='5'>出租单间</case>  
                                            </switch> 
                                        </th>
                                        <td>{$list.submit_time|date="Y-m-d H:i", ###}</td>
                                        <td><eq name="list.desc" value="">无<else/>{$list.desc|default='无'}</eq></td> 
                                        <td>
                                            <span id="label1" class="btn btn-sm btn-info" <if condition="$list.status neq 0">style="display:none"</if>>未处理</span>
                                            <span id="label2" class="btn btn-sm btn-primary" <if condition="$list.status neq 1">style="display:none"</if>>处理中</span>
                                            <span id="label3" class="btn btn-sm btn-success" <if condition="$list.status neq 2">style="display:none"</if>>已完成</span>
                                            <span id="label4" class="btn btn-sm btn-danger" <if condition="$list.status neq 3">style="display:none"</if>>已删除</span>
                                        </td> 
                                        <td>
                                            <button class="btn btn-default btn-sm replayMsg" data-sid="{$list.sid}" data-id="{$list.id}">查看/回复</button>
                                            <button type="button" class="setdone btn btn-sm btn-default" data-url='{:U("RentalService/setStatus2?status=1&id=".$list["id"])}' <if condition="$list.status neq 0"> style="display:none"</if>>处理</button>
                                            <button type="button" class="setover btn btn-sm btn-default" data-url='{:U("RentalService/setStatus2?status=2&id=".$list["id"])}' <if condition="$list.status neq 1"> style="display:none"</if>>完成</button>
                                            <button type="button" class="setdel btn btn-sm btn-default" data-url='{:U("RentalService/setStatus2?status=3&id=".$list["id"])}' <if condition="$list.status neq 2"> style="display:none"</if>>删除</button>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                    {$page}
                </div> 
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade in" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="html"></div>
        </div>
    </div>
<script type="text/javascript">
    //查看详情及回复
   var type = parseInt("{$_GET['type']}");
    $('.replayMsg').click(function(){
        type = type > 0 ? type : 5;
        if(type == 5){
            waiting();
            $.get('{:U("RentalService/detail")}', {id : $(this).data('id')}, function(data){
                complete();
                if(data.status==0){
                    showInfo(data.info);
                }else{
                    $('#html').html(data);
                    $('#myModal').modal('show');
                }
                
            });
        }
        
    });
 
  //点击状态按钮的改变  
$(document).ready(function(){
    $('.setover').click(function(){
        var obj = $(this), url = obj.data('url');
        $.get(url, function(data){
            showInfo(data.info);
            if(data.status == 1){
                obj.parent().prev().find('span').removeClass('btn-danger').addClass('btn-success').html('已完成');
                obj.remove();
            }
        });
    });
});
  //点击状态按钮的改变  
$(document).ready(function(){
    $('.setdel').click(function(){
        var obj = $(this), url = obj.data('url');
        $.get(url, function(data){
            showInfo(data.info);
            if(data.status == 1){
                obj.parent().prev().find('span').removeClass('btn-success').addClass('btn-primary').html('已删除');
                obj.remove();
            }
        });
    });
});
//点击状态按钮的改变  
$(document).ready(function(){
    $('.setdone').click(function(){
        var obj = $(this), url = obj.data('url');
        $.get(url, function(data){
            showInfo(data.info);
            if(data.status == 1){
                obj.parent().prev().find('span').removeClass('btn-info').addClass('btn-danger').html('处理中');
                obj.next().show();
                obj.remove();
            }
        });
    });
});
</script>