<div class="row"> <h3 class="page-header">租售管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <label><a class="btn btn-primary" href="{:U('RentalService/add')}">添加</a></label>
                <form action='{:U("RentalService/index")}' class="form-inline text-right fr m-b-5" >
               <!--   <div class="form-group">
                    <select class="form-control" id="aid" name="aid">
                        <option value="0" >请选择小区</option>
                        <volist name='areaList' id='area'>
                            <option value='{$area.id}' <eq name='Think.get.aid' value='$area["id"]'>selected</eq>>{$area.name}</option>
                        </volist>
                    </select>           
                </div> -->
              <input type="text" name='title' value='{$Think.get.title}' class="form-control mr20 w150" placeholder="标题">
              <input type="text" name='area' value='{$Think.get.area}' class="form-control mr20 w150" placeholder="小区">
             <select name='type' class="form-control mr20 w150" >
                        <option value='-1'> 类型</option>
                        <option value='1' <eq name='Think.get.type' value='1'>selected</eq> >出租房屋 </option>
                        <option value='2' <eq name='Think.get.type' value='2'>selected</eq> >出售房屋 </option>
                        <option value='3' <eq name='Think.get.type' value='3'>selected</eq> >出租车位 </option>
                        <option value='4' <eq name='Think.get.type' value='4'>selected</eq> >出售车位 </option>
                        <option value='5' <eq name='Think.get.type' value='5'>selected</eq> >出租单间 </option>
                    </select>
              状态：<select name='status' class="form-control mr20 w150" >
                        <option value='-1'>全部</option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >删除 </option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >正常 </option>
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>业主</th>
                                <th>小区</th>
                                <th>标题</th>
                                <th>发布时间</th> 
                                <th>类型</th>
                                <th>价格</th>
                                <th>面积</th>
                                <th width="75">状态</th>
                                <th width="180">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.name|default='后台添加'}</td>
                                    <td>{$list.area}</td>
                                    <td>{$list.title}</td>
                                    <td>{$list.times|date="Y-m-d H:i", ###}</td> 
                                    <td>
                                        <switch name='list.type'>
                                            <case value='1'>出租房屋</case>
                                            <case value='2'>出售房屋</case> 
                                            <case value='3'>出租车位</case> 
                                            <case value='4'>出售车位</case>  
                                            <case value='5'>出租单间</case>  
                                        </switch>                   
                                    </td>
                                    <td>{$list.price}元</td>
                                    <td>{$list.size}平</td> 
                                    <td>
                                        <switch name='list.status'>
                                            <case value='0'>
                                                <button class="btn-status btn-primary setStatus" type="button" data-url='{:U("RentalService/setStatus?id=".$list["id"])}' data-status="{$list.status}">删除</button>
                                            </case>
                                            <case value='1'>
                                                <button class="btn-status btn-primary setStatus" type="button" data-url='{:U("RentalService/setStatus?id=".$list["id"])}' data-status="{$list.status}">正常</button>
                                            </case>
                                        </switch>
                                    </td>
                                    <td>
                                       <button class="btn btn-default btn-sm replayMsg" data-sid="{$list.sid}" data-id="{$list.id}">查看</button>
                                        <a class=" btn btn-sm btn-default" id="order_button" data-id='{$list.id}' href="{:U("RentalService/intention?id=".$list['id'])}">意向</a>
                                        <eq name="list.oid" value="0">
                                        <a class=" btn btn-sm btn-default" href="{:U('RentalService/edit?id='.$list['id'])}">修改</a>
                                        </eq>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="html"></div>
    </div>
</div>
<script type="text/javascript">
    //查看详情及回复
    $('.replayMsg').click(function(){
            waiting();
            $.get('{:U("RentalService/Indexdetail")}', {id : $(this).data('id')}, function(data){
                complete();
                if(data.status == 0){
                    showInfo(data.info);
                }else{
                    $('#html').html(data);
                    $('#myModal').modal('show');
                }
            })
    });
</script>
