<div class="row"><h3 class="page-header">有偿服务</h3></div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
                <label><a class="btn btn-primary" href="{:U('RepairFixe/add')}">添加有偿服务</a></label>
                <form action='{:U("RepairFixe/index")}' class="form-inline text-right m-b-5" style="float:right;">
                    项目名称：<input type="text" name='name' value='{$Think.get.name}' class="form-control mr20" style="width: 150px;">
                    状态：<select name='status' class="form-control mr20" style="width: 150px;">
                    <option value='-1'>全部</option>
                    <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用</option>
                    <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用</option>
                </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th width='60'>序号</th>
                            <th>项目名称</th>
                            <th>材料费</th>
                            <th>人工机械费</th>
                            <th width='75'>排序</th>
                            <th width='75'>状态</th>
                            <th width='120'>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="list">
                            <tr class="odd gradeX">
                                <td>{$i}</td>
                                <td>{$list.name}</td>
                                <th>{$list.material|default='无'}</th>
                                <td>{$list.price}元</td>
                                <td><input class="setSort" type="text" size="2" data-url="{:U('RepairFixe/setSort?id='.$list['id'])}" value="{$list.sort}"></td>
                                <td class="center">
                                    <button class='btn <eq name="list.status" value="1">btn-primary<else />btn-default</eq> btn-sm setStatus' type="button" data-url='{:U("RepairFixe/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name="list.status" value='1'>启用<else />禁用</eq></button>
                                </td>
                                <td class="center">
                                    <a href='{:U("RepairFixe/edit?id=".$list["id"])}'><button class="btn-sm btn btn-default">修改</button></a>
                                    <button data-url='{:U("RepairFixe/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>
                                </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>