<link href="{:COM}css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<div class="row"> <h3 class="page-header">报修管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-body">
            	<label><a class="btn btn-primary" href='{:U("Repair/add")}'>添加报修</a></label>
                <!-- <label><a class="btn btn-primary export">数据导出</a></label> -->
				<form action='{:U("Repair/index")}' class="form-inline text-right m-b-5" style="float:right;">
				<!--  <select name='cate' id='cate' class="form-control mr20 w100 cate">
    					<option value='0' <lt name='Think.get.cate' value='1'>selected</lt>>负责人身份</option>
                 		<option value='1' <eq name='Think.get.cate' value='1'>selected</eq>>维修员</option>
                	</select>
                    <select name='cate_id' id='cate_id' class="form-control mr20 w100 cate_id">
    					<option value='0' <lt name='Think.get.cate' value='1'>selected</lt>>负责人</option>
                	</select> -->
                	<div class="form-group">
                        <select class="form-control" id="aid" name="aid">
                            <option value="0" >请选择小区</option>
                            <volist name='areaList' id='area'>
                                <option value='{$area.id}' <eq name='Think.get.aid' value='$area["id"]'>selected</eq>>{$area.name}</option>
                            </volist>
                        </select>           
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="cate_id" name="cate_id">
                            <option value="0" >请选择身份</option>
                            <volist name='repairman' id='repairman'>
                                <option value='{$repairman.id}' <eq name='Think.get.cate_id' value='$repairman["id"]'>selected</eq>>{$repairman.name}</option>
                            </volist>
                        </select>           
                    </div>
	                <input type="text" name='name' value='{$Think.get.name}' class="form-control w100 mr20" placeholder="业主姓名">
                    <input type="text" name='phone' value='{$Think.get.phone}' class="form-control w100 mr20" placeholder="联系方式">
                   <!--  <input type="text" name='area' value='{$Think.get.area}' class="form-control w100 mr20" placeholder="小区名称"> -->
                    <input type="text" name='start_time' value='{$Think.get.start_time}' placeholder="报修开始时间" class="form-control mr20 w100 datepicker" >
                    <input type="text" name='end_time' value='{$Think.get.end_time}' placeholder="报修结束时间" class="form-control mr20 w100 datepicker" >
                   <select name='status' class="form-control mr20">
                        <option value='-1'>状态</option>    
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >已提交</option>
                        <option value='2' <eq name='Think.get.status' value='3'>selected</eq> >纠错中</option>                    
                        <option value='3' <eq name='Think.get.status' value='2'>selected</eq> >预警中</option> 
                        <option value='4' <eq name='Think.get.status' value='4'>selected</eq> >维修中</option>
                        <option value='5' <eq name='Think.get.status' value='5'>selected</eq> >维修完成</option>
                        <option value='6' <eq name='Think.get.status' value='6'>selected</eq> >评价完成</option>
                        <option value='7' <eq name='Think.get.status' value='7'>selected</eq> >已付款</option>

                    </select>
                    <!-- <button class="btn btn-primary" type="submit">搜索</button> -->
                    <div class="btn-group">
						<button type="submit" class="btn btn-primary">搜索</button>
						<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a href="{:U('Repair/export', $_GET)}">导出结果</a></li>
							<li><a href="{:U('Repair/index')}">清除条件</a></li>
						</ul>
					</div>
				</form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width='60'>序号</th>
                                <th>业主</th>
                                <th>联系方式</th>
                                <th>所在小区</th>
                                <th>报修类型</th>
                                <th>报修项目</th>
                                <th>报修时间</th>
                                <th>负责人</th>
                                <th width='75'>状态</th>
                                <th width='220'>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                          	<volist name="list" id="list">
                                <tr class="odd gradeX">
                                    <td>{$i}</td>
                                    <td>{$list.owner}</td>
                                    <td>{$list.phone}</td>
                                    <td>{$list.area}</td>
                                    <td>{$list.name}</td>
                                    <td><switch name="list.type">
                                              <case value="1">室内报修</case>
                                              <case value="0">室外报修</case>
                                         </switch></td>
                                    <td>{$list.creat_time|date='Y-m-d H:i:s', ###}</td>
                                    <th>{$list.catename|default='未分配'}</th>
                                    <td class="last">
	                                        <switch name='list.status'>
	                                            <case value='1'><button class='btn-status btn-info' type="button">已提交</button></case>
	                                            <case value='2'><button class='btn-status btn-warning' type="button">纠错中</button></case>
	                      						<case value='3'><button class='btn-status btn-danger' type="button">预警中</button></case>
	                      						<case value='4'><button class='btn-status btn-primary' type="button">维修中</button></case>
	                      						<case value='5'><button class='btn-status btn-success' type="button">维修完成</button></case>
	                      						<case value='6'><button class='btn-status btn-complate' type="button">评价完成</button></case>
	                      						<case value='7'><button class='btn-status btn-complate' type="button">已付款</button></case>
	                    					</switch>
                    					</eq>
                                    </td>
                                    <td class="last">
                                       	<button class="btn-sm btn btn-default look" data-id='{$list.id}'>查看</button>
                                       	<if condition='($list.status gt 0) and ($list.status lt 3)'>
                                            <button id="allot{$list.id}" data-id="{$list.id}" class="btn-sm btn btn-default allot">分配</button>
                                        </if>
                                        <if condition='($list.status eq 7)'>
                                            <button id="allot{$list.id}" data-id="{$list.id}" class="btn-sm btn btn-default complate">完成</button>
                                        </if>
                                    	 <eq name='list.status' value='2'><button data-id='{$list.id}' class='btn btn-default btn-sm closed' type='button'>关闭</button></eq> 
                                        <elt name='list.status' value='2'>
                                            <button data-url='{:U("Repair/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>
                                        </elt>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id='html'></div>
    </div>
</div>
<div id="myModal2" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">报修分配</h4>
            </div>
            <div class="modal-body">
            <div class="form-group">
            <div class="col-sm-4" id="allot">
             </div>
            </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                <button class="btn btn-primary submit2" data-id="" type="button">提交</button>
            </div>
        </div>
    </div>
</div>
<div id="myModal4" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content form-horizontal">
        	<div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">完成后台报修</h4>
            </div>
            <div class="modal-body">
            	<div class="form-group">
                    <label class="col-sm-4 control-label">反馈：<span class="c-red">*</span></label>
                    <div class="col-sm-4">
                      <textarea class="form-control" name="feedback" maxlength='100'></textarea>
                    </div>
                    <input name='rid' type='hidden'/>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                <button class="btn btn-primary feedback" class="button">提交</button>
            </div>
        </div>
    </div>
</div> 
<script type="text/javascript" src='{:COM}js/daterangepicker.min.js'></script>
<script type="text/javascript">
	$('.look').click(function(){
  		waiting();
  		$.get('{:U("Repair/detail")}', {id : $(this).data('id')}, function(data){
  			  complete();$('#html').html(data);
		  });
		  $('#myModal').modal('show');
	});
	$('body').on('click', '.submit', function(){
  		var id = $('#id').val(), content = $('textarea').val(); 
  		if(content){waiting();
  		    $.post('{:U("Repair/detail")}', {id: id, content: content}, function(data){
  		        complete();
  		        if(data.status > 0){
  		        	  showInfo('反馈成功');
  		        	  $('#myModal').modal('hide');
  		        }else{
  		        	  showInfo('反馈失败，请稍后再试');
  		        }
  		    });
  		}else{
  			  showInfo('请输入反馈内容');
  		}
	});
	$('.allot').click(function(){
		// waiting();
		$('#myModal2').modal('show');
		var id = $(this).data('id');
		console.log(id);
		$(".submit2").data('id',id);
		var workersdata = '';
		$.post('{:U("Repair/getRepairMan")}',{id:$(this).data('id')},function(data){
			
			var datalength = data.length;
			for(var i = 0; i<datalength; i++ ){
				workersdata +='<label class="radio-inline" ><input type="radio" value="'+data[i]['id']+'" name="type">'+data[i]['name']+"</label>";
			}
			workersdata +='<label class="radio-inline" ><input type="radio" value="-2" name="type" checked>自由抢单</label>';
			$("#allot").html(workersdata);
			 complete();
		});
	});
	$('.submit2').click(function(){
  		var type = $('input[name="type"]:checked').val();
  		console.log(type);
  		if(type){
  			waiting();
  		
	  		$.post('{:U("Repair/allot")}', {id : $(this).data('id'), type : type}, function(data){
	  			complete();
    			showInfo(data.info);
    			if(data.status == 1){
    				setTimeout('location.reload();', 1600);
    			}
		    });
  		}else{
  			showInfo('请选择分配人员');
  		}
	});
	//关闭纠错的报修
	$('.closed').click(function(){
		if(confirm('你确定关闭该报修？')){
			waiting();
			$.post('{:U("Repair/close")}', {id : $(this).data('id')}, function(data){
				complete();showInfo(data.info);
				if(data.status == 1){
					setTimeout('location.reload();', 1600);
				}
			});
		}
	});
	//完成后台提交的报修
	$('.complate').click(function(){
		$('input[name="rid"]').val($(this).data('id'));
		$('#myModal4').modal('show');
	});
	//提交反馈
	$('.feedback').click(function(){
		var feedback = $('textarea[name="feedback"]').val(), flag = true;
		if(feedback){
			if(flag){
				waiting();flag = false;
				$.post('{:U("Repair/feedback")}', {rid : $('input[name="rid"]').val(), feedback : feedback}, function(data){
					flag = true;complete();showInfo(data.info);
					if(data.status == 1){
						$('#myModal4').modal('hide');
					}
				});
			}
		}else{
			showInfo('请填写反馈内容');
		}
	});
	
  //导出数据，时间选择插件
  $('input.datepicker').datetimepicker({format : "yyyy-mm-dd", minView : 2, autoclose : true});
  //导出数据，选择小区和时间等
  $('.export').click(function(){$('#myModal3').modal('show');});
  //导出数据，提交表单
  $('.export_submit').click(function(){$('#myform').submit();});
  //导出回调函数
  function export_data(data){
    $('#myModal3').modal('hide');
    location.href = data.url;
  }

</script>