<div class="row"><h3 class="page-header">维修员管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
            	<label><a class="btn btn-primary" href="{:U('Repairman/add')}">添加维修员</a></label>
                <form action='{:U("Repairman/index")}' class="form-inline text-right m-b-5 fr">
                    <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20 w150" placeholder="姓名">
                    <input type="text" name='phone' value='{$Think.get.phone}' class="form-control mr20 w150" placeholder="手机">
                    <select name='aid' class="form-control mr20 w150">
                        <option value='-1'>所在小区</option>
                        <volist name='areaList' id='area'>
	                        <option value='{$area.id}' <eq name='Think.get.aid' value='$area.id'>selected</eq> >{$area.name}</option>
                        </volist>
                    </select>
                    <select name='status' class="form-control mr20 w100">
                        <option value='-2'>状态</option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用</option>
                        <option value='2' <eq name='Think.get.status' value='2'>selected</eq> >未审核</option>
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>维修员名称</th>
                                <th>联系方式</th>
                                <th>所在小区</th>
                                <th width="75">状态</th>
                                <th width="120">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.name}<elt name='list.fid' value='0'>&nbsp;【BD#3#{$list.phone}#{$list.id}#】</elt></td>
                                    <td>{$list.phone}</td>
                                    <td>{$list.area}</td>
                                    <td class="center">
                                    	<switch name='list.status'>
                                    		<case value='0'><button class='btn btn-default btn-sm setStatus' type="button" data-url='{:U("Repairman/setStatus?id=".$list["id"])}' data-status="{$list.status}">禁用</button></case>
                                    		<case value='1'><button class='btn btn-primary btn-sm setStatus' type="button" data-url='{:U("Repairman/setStatus?id=".$list["id"])}' data-status="{$list.status}">启用</button></case>
                                    		<case value='2'><button class='btn btn-primary btn-sm checked' data-id='{$list.id}' type="button">未审核</button></case>
                                    	</switch>
                                    </td>
                                    <td class="last">
                                        <a class="btn-sm btn btn-default" href='{:U("Repairman/edit?id=".$list["id"])}'>修改</a>
                                        <button data-url='{:U("Repairman/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    $('.checked').click(function(){
        if(confirm('确认审核通过？')){
            var obj = $(this); waiting();
            $.get("{:U('Repairman/checked')}", {id: obj.data('id')}, function(data){
                complete(); showInfo(data.info);
                if(data.status == 1){
                    obj.parents('tr').children('td:eq(4)').find('button').html('启用').removeClass('checked').unbind('click');
                }
            });
        }
    });
});
</script>