<div class="row"> 
	<h3 class="page-header">维修工管理<small><gt name='info.id' value='0'>修改<else/>添加</gt>维修工</small></h3>
</div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form" id="myform" class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label">姓名<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required" name="name" value="{$info.name}" maxlength='10'>
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">手机<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<input class="form-control required mobile" name="phone" value="{$info.phone}" maxlength='11'>
			        </div>
			    </div>
			    <div class="form-group">
			    	<label class="col-sm-3 control-label">上传头像：<span class="c-red">*</span></label>
			    	<div class="col-sm-4">
			    		<div class="uploadify-div">
				       		<notempty name='info.pic'>
						    	<li><img src="{$info.pic}"><input type="hidden"  value="{$info.pic}" name="pic"></li>
						    </notempty>
					    </div>
	                   	<button type="button" class='upload' id='upload1' data-name="pic">选择图片</button>
                	</div>
			    </div>
			     <div class="form-group">
			        <label class="col-sm-3 control-label">选择小区：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
						<select class="form-control required" name="aid">
			        		<option value="">请选择小区</option>
                            <volist name='areaList' id='areaLists'>
                          	    <option value="{$areaLists.id}" <eq name='areaLists.id' value='$info.aid'>selected</eq> >{$areaLists.name}</option>
                            </volist>
                        </select>
			        </div>
			    </div> 
			   <!--  <div class="form-group">
			        <label class="col-sm-3 control-label">选择小区：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
						<volist name='areaList' id='areaList'>
							<span class="ckbox">
								<input type='checkbox' id='aid{$areaList.id}' name='aid[]' value='{$areaList.id}' <?php if(in_array($areaList['id'], $info['aid'])){echo 'checked';}?>>
								<label class="check_label" for='aid{$areaList.id}'>{$areaList.name}</label>
							</span>
						</volist>
			        </div>
			    </div> -->
			    <div class="form-group">
					<label  class="col-sm-3 control-label">状态：</label>
					<div class="col-sm-4">
			            <label class="radio-inline">
			                <input type="radio" value="1" id="status1" name="status" <neq name="info.status" value="0">checked</neq>>启用
			            </label>
			            <label class="radio-inline">
			                <input type="radio" value="0"  id="status2" name="status" <eq name="info.status" value="0">checked</eq>>禁用
			            </label>
		            </div>
		        </div>
		       	<div class="form-group">
		            <label class="col-sm-3 control-label">备注：</label>
		            <div class="col-sm-4">
		           		<textarea rows="2" class="form-control" name="desc" maxlength='200'>{$info.desc}</textarea>
		            </div>
		        </div>
		        <gt name='info.id' value='0'> <input type='hidden' name='id' id="id" value='{$info.id}'></gt>
		        <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
				        <button class="btn btn-primary" type="submit">提交</button>
				       	<a href="{:U('repairman/index')}"><button class=" btn btn-default" type="button">返回</button></a>
		       		</div>
		       	</div>
		       	<input type="hidden" name="area" value="{$info.area}">
			</form>
		</div>
	</div>
</div>
<script>
$(function(){
	 $('select[name="aid"]').change(function(){
		$('input[name="area"]').val($(this).find('option:selected').html());
	}); 
});
</script>