<link rel="stylesheet" href="{:COM}css/bootstrap-datetimepicker.min.css" />
<div class="row"><h3 class="page-header">房号管理<small><gt name='info.id' value=''>/修改<else/>/添加</gt></small></h3></div>
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<form role="form"  id="myform" method="post" class="form-horizontal">
			    <div class="form-group">
			        <label class="col-sm-3 control-label">房号：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			         	<input class="form-control required" name="name" value="{$info.name}" maxlength="30">
			        </div>
			        <small>不超过二十字</small>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">面积：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			         	<input class="form-control required number" name="size" value="{$info.size}">
			        </div>
			    </div>
                <div class="form-group">
			        <label class="col-sm-3 control-label">所在小区：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control required" id="aid" name="aid">
			        		<option value="" >请选择小区</option>
			        		<volist name='areaList' id='area'>
			        			<option value="{$area.id}"<eq name='area.id' value='$info.aid'> selected </eq> >{$area.name}</option>
			        		</volist>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">所在楼栋：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control required" id="bid" name="bid">
			        		<option value="" >请选择楼栋</option>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">所在单元：<span class="c-red">*</span></label>
			        <div class="col-sm-4">
			        	<select class="form-control required" id="uid" name="uid">
			        		<option value="" >请选择单元</option>
						</select>           
			        </div>
			    </div>
			    <div class="form-group">
			        <label class="col-sm-3 control-label">业主姓名：</label>
			        <div class="col-sm-4">
			         	<input class="form-control" name="owner" value="{$info.owner}" maxlength="200">
			        </div>
			        <small>多个人用空格隔开</small>
			    </div> 
			    <div class="form-group">
			        <label class="col-sm-3 control-label">业主手机：</label>
			        <div class="col-sm-4">
			         	<input class="form-control" name="phone" value="{$info.phone}" maxlength="200">
			        </div>
			        <small>多个号码用空格隔开</small>
			    </div>
			    <div class="form-group">
					<label class="col-sm-3 control-label">状态：</label>
					<div class="col-sm-4">
			            <label class="radio-inline">
			                <input type="radio" value="1" id="status1" name="status" <neq name="info.status" value="0">checked</neq>>启用
			            </label>
			            <label class="radio-inline">
			                <input type="radio" value="0"  id="status2" name="status" <eq name="info.status" value="0">checked</eq>>禁用
			            </label>
		            </div>
		        </div>
		        <gt name='info.id' value='0'> <input type='hidden' name='id' id="id" value='{$info.id}'></gt>
		        <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
				        <button class="btn btn-primary" type="submit">保存</button>
				       	<a href="{:U('Room/index')}"><button class=" btn btn-default" type="button">返回</button></a>
			       	</div>	
		       	</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" >
$(function(){
	var aid1 = {$info.aid|default=0}, bid1 = {$info.bid|default=0}, uid1 = {$info.uid|default=0};
	if(aid1 > 0){
		waiting();
		$.get('{:U("Room/ajaxGetABR")}', {type: 2, aid : aid1}, function(data){
			complete(); var html = '';
			$(data).each(function(i, v){
				if(v.id == bid1){
					var selected = 'selected', uhtml = '';
					$(v.units.split(',')).each(function(i, v){
						if(v > 0){
							var uselected = v == uid1 ? 'selected' : '';
							var title = v == 11 ? '无' : v;
							uhtml += '<option value="' + v + '" ' + uselected + '>' + title + '单元</option>';
						}
					});
					$('#uid').html(uhtml);
				}
				html += '<option data-units="' + v.units + '" value="' + v.id + '" ' + selected + '>' + v.name + '</option>';
			});
			$('#bid').html(html);
		});
	}
	
	$('#aid').change(function(){
		var aid = $(this).val(), html = '<option value="">请选择楼栋</option>';
		if(aid > 0){
			waiting();
			$.get('{:U("Room/ajaxGetABR")}', {type: 2, aid : aid}, function(data){
				complete();
				$(data).each(function(i, v){
					html += '<option data-units="' + v.units + '" value="' + v.id + '" >' + v.name + '</option>';
				});
				$('#bid').html(html);
				$('#uid').html('<option value="">请选择单元</option>');
			});
		}
	});

	$('#bid').change(function(){
		var units = $(this).find('option:selected').data('units').split(','), html='';
		$(units).each(function(i, v){
			if(v > 0){
				var title = v == 11 ? '无' : v;
				html += '<option value="' + v + '">' + title + '单元</option>';
			}
		});
		$('#uid').html(html);
	});
});
</script>

