<div class="row"> <h3 class="page-header">房号管理</h3></div>
<div class="row">
    <div class="col-md-12"> 
        <div class="panel panel-default">
            <div class="panel-body">
                <label><a class="btn btn-primary" href="{:U('Room/add')}">添加</a></label>
                <form action='{:U("Room/index")}' class="form-inline text-right fr m-b-5">
                    <div class="form-group">
                        <select class="form-control" id="aid" name="aid">
                            <option value="0" >请选择小区</option>
                            <volist name='areaList' id='area'>
                                <option value='{$area.id}' <eq name='Think.get.aid' value='$area["id"]'>selected</eq>>{$area.name}</option>
                            </volist>
                        </select>           
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="bid" name="bid">
                            <option value="0" >请选择楼栋</option>
                        </select>           
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="uid" name="uid">
                            <option value="0" >请选择单元</option>
                        </select>           
                    </div>
                   <select name='status' class="form-control mr20 w100" >
                        <option value='-1'>状态</option>
                        <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >启用 </option>
                        <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >禁用 </option>
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>房号</th> 
                                <th>面积</th>
                                <th>所在小区</th>
                                <th>所在楼栋</th> 
                                <th>所在单元</th>
                                <th>业主姓名</th>
                                <th>业主手机</th>
                                <th width="75">排序</th>
                                <th width="75">状态</th>
                                <th width="130">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.name}</td>
                                    <td>{$list.size}平米</td> 
                                    <td>{$list.area}</td>
                                    <td>{$list.block}</td>
                                    <td><eq name="list.uid" value="11">无<else/>{$list.uid}</eq>单元</td>
                                    <td>{$list.owner|default='未知'}</td>
                                    <td>{$list.phone|default='未知'}</td>
                                    <td>
                                        <input class="setSort" type="text" size="5" data-url="{:U('Room/setSort?id='.$list['id'])}" value="{$list.sort}">
                                    </td>
                                    <td>
                                        <button class="btn <eq name='list.status' value='1'>btn-primary<else/>btn-default</eq> btn-sm setStatus" type="button" data-url='{:U("Room/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name='list.status' value='1'>启用<else/>禁用</eq></button>
                                    <td>
                                        <a class=" btn btn-default btn-sm" href="{:U('Room/edit?id='.$list['id'])}">修改</a>
                                        <button data-url='{:U("Room/del?id=".$list["id"])}' class=" btn btn-default btn-sm delBtn" type="button">删除</button>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" >
 $(function(){
    var aid1 = {$Think.get.aid|default=0}, bid1 = {$Think.get.bid|default=0}, uid1 = {$Think.get.uid|default=0};
    if(aid1 > 0){
        waiting();
        $.get('{:U("Room/ajaxGetABR")}', {type: 2, aid : aid1}, function(data){
            complete(); var html = '<option value="" data-units="0,0">请选择楼栋</option>';
            $(data).each(function(i, v){
                if(v.id == bid1){
                    var selected = 'selected', uhtml = '<option value="" data-units="0,0">请选择单元</option>';
                    $(v.units.split(',')).each(function(i, v){
                       if(v > 0){
                            var uselected = v == uid1 ? 'selected' : '';
                            var title = v == 11 ? '无' : v;
                            uhtml += '<option value="' + v + '" ' + uselected + '>' + title + '单元</option>';
                        }
                    });
                    $('#uid').html(uhtml);
                }
                html += '<option data-units="' + v.units + '" value="' + v.id + '" ' + selected + '>' + v.name + '</option>';
            });
            $('#bid').html(html);
        });
    }

    $('#aid').change(function(){
        var aid = $(this).val(), html = '<option value="" data-units="0,0">请选择楼栋</option>';
        if(aid > 0){
            waiting();
            $.get('{:U("Room/ajaxGetABR")}', {type: 2, aid : aid}, function(data){
                complete();
                $(data).each(function(i, v){
                    html += '<option data-units="' + v.units + '" value="' + v.id + '" >' + v.name + '</option>';
                });
                $('#bid').html(html);
            });
        }else{
            $('#bid').html(html);
        }
        $('#uid').html('<option value="" data-units="0,0">请选择单元</option>');
    });

    $('#bid').change(function(){
        var units = $(this).find('option:selected').data('units').split(','), html = '<option value="" data-units="0,0">请选择单元</option>';
        $(units).each(function(i, v){
            if(v > 0){
                var title = v == 11 ? '无' : v;
                html += '<option value="' + v + '">' + title + '单元</option>';
            }
        });
        $('#uid').html(html);
    });
}); 
</script>

   