<div class="row"> <h3 class="page-header">预警管理</h3></div>
    <div class="row">
        <div class="col-md-12"> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <form action='{:U("Warn/index")}' class="form-inline text-right fr m-b-5">
                 <input type="text" name='name' value='{$Think.get.name}' class="form-control mr20 w150" placeholder="名称">
                 <select name='status' class="form-control mr20 w150" >
                            <option value='-1'> 状态</option>
                            <option value='1' <eq name='Think.get.status' value='1'>selected</eq> >未处理</option>
                            <option value='0' <eq name='Think.get.status' value='0'>selected</eq> >已处理</option>
                        </select> 
                        <button class="btn btn-primary" type="submit">搜索</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="60">序号</th>
                                    <th>名称</th>
                                    <th>时间</th>
                                    <th width="75">状态</th>
                                    <th width="130">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="list" id="list">
                                    <tr>
                                        <td>{$i}</td>
                                        <td>{$list.name}</td>
                                        <td>{$list.times|date='Y-m-d H:i:s', ###}</td>
                                        <td>
                                        	<button class=" btn <eq name='list.status' value='1'>btn-danger<else />btn-default</eq>  btn-sm " type="button"><eq name='list.status' value='1'>未处理<else />已处理</eq></button>
                                        </td>
                                        <td>
                                        	<switch name='list.type'>
                                        		<case value='1'><a href="{:U('Repair/index?id='.$list['typeid'])}" class="btn-sm btn btn-default" type="button">查看</a></case>
                                        		<case value='2'><a href="{:U('Booking/index?id='.$list['typeid'])}" class="btn-sm btn btn-default" type="button">查看</a></case>
                                        		<case value='3'><a href="{:U('Complaint/index?id='.$list['typeid'])}" class="btn-sm btn btn-default" type="button">查看</a></case>
                                        	</switch>
                                        </td>
                                    </tr>
                                </volist>
                            </tbody>
                        </table>
                    </div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
  <script type="text/javascript">
   $(function(){
    $('.look').click(function(){
        var type = parseInt($(this).data('type'));
        if(type == 1){
            location.href = '{:U("Repair/index")}?id='+$(this).data('typeid');
        }
    })
   })
    </script>
  