<div class="row"> <h3 class="page-header">粉丝管理</h3></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action='{:U("Wxfans/index")}' class="form-inline text-right m-b-5 fr">
                    <input type="text" name='nickname' value='{$Think.get.nickname}' class="form-control mr20 w150" placeholder="粉丝昵称">
                    <select name='type' class="form-control mr20 w150">
                        <option value='-1'>粉丝类型</option>
                        <option value='1' <eq name='Think.get.type' value='1'>selected</eq> >业主</option>
                        <option value='2' <eq name='Think.get.type' value='2'>selected</eq> >租客/亲属</option>
                        <option value='3' <eq name='Think.get.type' value='3'>selected</eq> >维修工</option>
                        <option value='4' <eq name='Think.get.type' value='4'>selected</eq> >客服专员</option>
                        <option value='0' <eq name='Think.get.type' value='0'>selected</eq> >普通粉丝</option>
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>昵称</th>
                                <th>类型</th>
                                <th>性别</th>
                                <th>地区</th>
                                <th>活跃时间</th>
                                <th>关注时间</th>
                                <th width="100">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.nickname}</td>
                                    <td>
                                        <switch name="list.type">
                                            <case value="1">业主</case>
                                            <case value="2">亲属/租客</case>
                                            <case value="3">维修工</case>
                                            <case value="4">客服专员</case>
                                            <default />粉丝
                                        </switch>
                                    </td>
                                    <td>
                                        <switch name="list.sex">
                                            <case value="1">男</case>
                                            <case value="2">女</case>
                                            <default />未知
                                        </switch>
                                    </td>
                                    <td>{$list.country|default="未知"} {$list.province|default="未知"} {$list.city|default="未知"}</td>
                                    <td>{$list.active_time|date='Y-m-d H:i', ###}</td>
                                    <td>{$list.subscribe_time|date='Y-m-d H:i', ###}</td>
                                    <td><button class="btn-sm btn btn-default refreshInfo" data-id="{$list.openid}">刷新资料</button></td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$('.refreshInfo').click(function(){
    waiting();
    $.get('{:U("Wxfans/refreshInfo")}', {id: $(this).data('id')}, function(data){
        complete();
        if(data.status == 1){
            location.reload();
        }else{
            showInfo(data.info);
        }
    });
});
</script>