<div class="row"> <h3 class="page-header">消息管理</h3></div>
<div class="form-horizontal" style="display:none;">
    <div class="form-group">
        <div class="col-sm-12"><div  class="link_text"><a href="">有<span>0</span>条未读消息,点击查看</a></div></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action='{:U("Wxmsg/index")}' class="form-inline text-right m-b-5 fr">
				    <input type="text" name='nickname' value='{$Think.get.nickname}' class="form-control mr20 w150" placeholder="粉丝昵称">
                    <input type="text" name='content' value='{$Think.get.content}' class="form-control mr20 w150" placeholder="消息内容">
				    <select name='type' class="form-control mr20 w150">
						<option value='-1'>消息类型</option>
						<option value='0' <eq name='Think.get.type' value='0'>selected</eq> >普通消息</option>
						<option value='1' <eq name='Think.get.type' value='1'>selected</eq> >关键字消息</option>
						<option value='2' <eq name='Think.get.type' value='2'>selected</eq> >星标消息</option>
                    </select>
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>粉丝名称</th>
                                <th>接收时间</th>
                                <th class="col-sm-6">消息内容</th>
                                <th>回复状态</th>
                                <th width="150">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="list" id="list1">
                                <tr>
									<td>{$i}</td>
                                    <td>{$list1.nickname|default="粉丝"}</td>
                                    <td>{$list1.times|date='Y-m-d H:i', ###}</td>
                                    <td>
                                    	<switch name="list1.type">
                                    		<case value="3"><a href="{$list1.content}" target="_blank"><img src="{$list1.content}?imageView2/0/h/80/interlace/1/q/100" /></a></case>
                                    		<case value="4"><a href="{$list1.content}" target="_blank">语音消息，点击下载</a></case>
                                    		<case value="5"><a href="{$list1.content}" target="_blank">视频消息，点击下载</a></case>
                                    		<case value="6"><a href="{$list1.content}" target="_blank">小视频消息，点击下载</a></case>
                                    		<default />{$list1.content}
                                    	</switch>
									</td>
                                    <td id="replayStatus{$list1.id}"><eq name="list1.status" value="1">已回复<else/><b>未回复</b></eq></td>
									<td>
										<button class="btn-sm btn btn-default replayMsg" data-fid="{$list1.fid}" data-id="{$list1.id}">查看/回复</button>
                                        <button data-star="{$list1.star}" data-url='{:U("Wxmsg/setStar?id=".$list1["id"])}' class="btn-sm btn <eq name='list1.star' value='1'>btn-primary<else/>btn-default</eq> setStar" type="button">星标</button>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title" style="font-size:20px">{$list.nickname|default="粉丝"}</h4>
            </div>
            <div class="modal-body" style="padding-top: 0px;">加载中 。。。</div>
            <div class="modal-footer">
                <button data-dismiss="modal" class=" btn btn-default" type="button">关闭</button>
                <button class="btn btn-primary submitReplay" type="button">回复</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="fid" value="0">
<input type="hidden" id="id" value="0">
<input type="hidden" id="max_id" value="{$list[0]['id']}">
<script type="text/javascript">
//查看评论详情及回复
$('.replayMsg').click(function(){
    var id = $(this).data('id'), fid = $(this).data('fid');
    $('#id').val(id); $('#fid').val(fid); waiting();
    $.get('{:U("Wxmsg/showMsgInfo")}', {fid: fid}, function(data){
    	complete();
    	if(data.status == 0){
    		showInfo(data.info);
    	}else{
			$('#myModal').modal('show');
	    	var html = '', content = '';
	    	$(data).each(function(i, v){
	            if(v.type!=2){
	                $(".modal-title").html(v.nickname);
	                switch(v.type){
	                	case '3': content = '<a href="' + v.content + '" target="_blank"><img src="' + v.content + '?imageView2/0/h/80/interlace/1/q/100"/></a>'; break;
	                	case '4': content = '<a href="' + v.content + '" target="_blank">音频文件，点击下载</a>'; break;
	                	case '5': content = '<a href="' + v.content + '" target="_blank">视频文件，点击下载</a>'; break;
	                	case '6': content = '<a href="' + v.content + '" target="_blank">小视频文件，点击下载</a>'; break;
	                	default: content = v.content;
	                }
	        		html += '<div style="font-size:16px;margin-top: 10px;">' + content + '<p style="font-size:12px;color:#999;padding-top:2px;">' + v.times + '</p><hr style="margin-bottom:0;margin-top: 0;"></div>';
	            }else{
	                html += '<div style="text-align:right; font-size:16px;margin-top: 10px;">' + v.content + '<p style="font-size:12px;color:#999;padding-top:2px;">' + v.times + '</p><hr style="margin-bottom:0;margin-top: 0;"></div>';
	            }
	        });
	        html += '<div><textarea rows="3" class="form-control" placeholder="请输入回复内容"></textarea></div>';
	        $('.modal-body').html(html);
    	}
    });
});
//提交回复信息
$('.submitReplay').click(function(){
	var id = $('#id').val(), fid = $('#fid').val(); waiting();
    $.post('{:U("Wxmsg/showMsgInfo")}', {mid: id, fid: fid, content: $('textarea').val()}, function(data){
        complete(); showInfo(data.info);
        if (data.status == 1) {
        	$('#replayStatus' + id).html('已回复');
            $('#myModal').modal('hide');
        };
    });
});
//设置星标消息
$('.setStar').click(function(){
	var obj = $(this), star = obj.data('star'); waiting();
	$.get(obj.data('url'), {star: star}, function(data){
		complete(); showInfo(data.info);
		if(data.status == 1){
            if(star == 1){
                obj.data('star', 0).removeClass('btn-primary').addClass('btn-default');
            }else{
			    obj.data('star', 1).removeClass('btn-default').addClass('btn-primary');
            }
		}
	});
});

setInterval(function(){
    $.get(window.location.href, {id: $('#max_id').val()}, function(data){
        data > 0 && $('.form-horizontal').show().find('span').html(data);
    });
}, 10000);
</script>