<div class="row"> <h3 class="page-header">文本回复</h3></div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
            	<label><a class="btn btn-primary addText">添加</a></label>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="60">序号</th>
                                <th>关键字</th>
                                <th>内容</th>
                                <th>添加时间</th>
                               <!--  <th>状态</th> -->
                                <th width="140">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        	<volist name="list" id="list">
                                <tr>
                                    <td>{$i}</td>
                                    <td>{$list.keyword}</td>
                                    <td title="{$list.content}">{$list.content|msubstr=0, 30}</td>
                                    <td>{$list.times|date='Y-m-d H:i', ###}</td>
                                    <!-- <td class="center">
                                       	<button class='btn <eq name="list.status" value="1">btn-primary<else />btn-default</eq> btn-sm setStatus' type="button" data-url='{:U("Wxtext/setStatus?id=".$list["id"])}' data-status="{$list.status}"><eq name="list.status" value='1'>启用<else />禁用</eq></button>
                                    </td> -->
                                    <td>
                                     	<button class="btn-sm btn btn-default editText" data-id='{$list.id}' >修改</button>
                                     	<button data-url='{:U("Wxtext/del?id=".$list["id"])}' class="btn-sm btn btn-default delBtn" type="button">删除</button>
                                    </td>
                                </tr>
                            </volist>
                        </tbody>
                    </table>
                </div>
                {$page}
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade in" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
	        <form action="{:U('Wxtext/add')}" id="myform" class="form-horizontal">
	            <div class="modal-header">
	                <button data-dismiss="modal" class="close" type="button">×</button>
	                <h4 class="modal-title">添加文本回复</h4>
	            </div>
	            <div class="modal-body">
				    <div class="form-group">
				        <label class="col-sm-3 control-label">关键字<span class="c-red">*</span></label>
				        <div class="col-sm-6"><input class="form-control required" name="keyword" maxlength="10"></div>
				        <small>不超过十个字</small>
				    </div>
				    <div class="form-group">
		               	<label class="col-sm-3 control-label">回复内容<span class="c-red">*</span></label>
		               	<div class="col-sm-6"><textarea rows="3" class="form-control required" name="content"></textarea></div>
			        </div>
	            </div>
	            <div class="modal-footer">
	                <button data-dismiss="modal" class=" btn btn-default" type="button">关闭</button>
	                <button class="btn btn-primary" type="submit">保存</button>
	            </div>
                <input type="hidden" name="id" />
            </form>
        </div>
    </div>
</div>
<script>
$(function(){
	//添加文本回复
	$('.addText').click(function(){
		$('#myform')[0].reset();
		$('.modal-title').html('添加文本回复');
		$('#myModal').modal('show');
	});
	//修改文本回复
	$('.editText').click(function(){
		$('#myform')[0].reset(); $('.modal-title').html('修改文本回复');
		var id = $(this).data('id'); waiting();
		$.get('{:U("Wxtext/edit")}', {id: id}, function(data){
			complete();
			$('#myform input[name="id"]').val(id);
			$('#myform input[name="keyword"]').val(data.keyword);
			$('#myform textarea').val(data.content);
			$('#myform').attr('action', '{:U("Wxtext/edit")}');
		});
		$('#myModal').modal('show');
	});
})
</script>