@charset "utf-8";
html, body { width: 100%; min-height: 100%; font-family:"微软雅黑"; }
body{ background-color:#eeeeee; font-size:14px;}
.pb60{ padding-bottom:60px;}
i,em{ font-style:normal;}
.bg_white{background:#fff; padding-bottom:10px; min-height:90%;}
.m_none{width:80%; position:relative; top:160px; margin:0px auto; position:relative;font-size:30px; text-align:center; color:#F30;}
/*通用字体大小*/
.f12{ font-size:12px;}
.f13{ font-size:13px;}
.f14{ font-size:14px;}
.f15{ font-size:15px;}
.f16{ font-size:16px;}
.f17{ font-size:17px;}
.f18{ font-size:18px;}
.f19{ font-size:19px;}
.f20{ font-size:20px;}
.f21{ font-size:21px;}
.f22{ font-size:22px;}
/**通用颜色**/
.mt10{ margin-top:10px;}
.black{ color:#333;}
.red{ color:#ff0000;}
.gery{ color:#999999;}
.green{ color:#07d36c;}
.orange{ color:#fa9614;}
.blue{ color:#09cdf7;}
.blue2{ color:#1d86e7;}
.btn_gery{ background-color:#a6a6a6; color:#fff; text-align:center;}
.btn_blue{ background-color:#00a0e8; color:#fff; text-align:center;}
.btn_orange{ background-color:#fa9614; color:#fff; text-align:center;}
.btn_red{ background-color:#f00; color:#fff; text-align:center;}
.btn_green{ background-color:#07d36c; color:#fff; text-align:center;}
.btn_cerise{ background-color:#f63466; color:#fff; text-align:center;}
.btn_light{ background-color:#c3c0c0; color:#fff; text-align:center;}
.btn_white{ background-color:#fff;}
.btn_box .btn{ width:94%; margin:10px auto; display:block; height:40px; line-height:40px; border-radius:6px;}
.form_btn{ border-bottom:0;}
/**标题 两列**/
.title_rank_two{ width:100%; margin:0px auto; background-color:#fff;}
.title_rank_two li{ float:left; width:50%; height:40px; font-size:16px; position:relative; }
.title_rank_two li:nth-child(1):after{ display:block; content:''; width:1px; height:24px; background-color:#dcdcdc; position:absolute; top:8px; right:0;}
.title_list li a{ display:block; width:100%; margin:0px auto; text-align:center; height:32px; line-height:30px; position:relative; top:8px;}
.title_list li:last-child a{ border-right:0;}
.title_list li.on a{ color:#00a0ea; position:relative;}
.title_list li.on a:after{ display:block; content:''; width:60%; height:2px; position:absolute; bottom:0; left:20%; background-color:#00a0ea;}
/**标题 三列**/
.title_rank_three{ width:100%; margin:0px auto; background-color:#fff;}
.title_rank_three li{ float:left; width:33.3%; height:40px; font-size:16px; position:relative; }
.title_rank_three li:nth-child(1):after{ display:block; content:''; width:1px; height:24px; background-color:#dcdcdc; position:absolute; top:8px; right:0;}

/** ckbox & rdio **/
.ckbox, .rdio {position: relative;}
input[type="checkbox"], input[type="radio"] {opacity: 0;}
.ckbox label,.rdio label {cursor: pointer;}
.ckbox label:before {width:18px; height:18px; position:absolute; top:4px; left:0; content:''; display:inline-block;border: 1px solid #dcdcdc; background:#fff;}
/** checkbox **/
.ckbox{ margin-right:10px;}
.ckbox label{ margin-left:10px;}
.ckbox input[type="checkbox"]:checked + label:before{border-color: #999;}
.ckbox input[type="checkbox"]:checked + label::after{content: ""; position:absolute; top:4px; left:0px; display: inline-block;font-size: 11px;width: 18px;height: 18px;color: #333; background:#fff url(../images/ckbox.png) no-repeat center center; background-size:14px;}
/** radio **/
.rdio{ margin-right:10px;}
.rdio label{ margin-left:20px;}
.rdio label:before {width:14px; height:14px; position: absolute; top:4px;left: 0;content:''; display: inline-block; background: #dcdcdc;}
.rdio input[type="radio"]:checked + label::after {content: '';position: absolute;top: 4px;left: 0px;display: inline-block; font-size: 11px;width: 14px;height: 14px;background:#09cdf7 url(../images/ckbox.png) no-repeat center center; background-size:14px;}
/**top 头部**/
.top{ width:100%; line-height:54px; background:#fff; font-size:18px; border-bottom:1px solid #dcdcdc;}
.top a.icon{ display:block; width:28px; margin:17px 2%; height:24px; background-image: url(../images/top_icon.png); background-repeat:no-repeat; background-size:20px; border-right:1px solid #dcdcdc;}
.top .return{float:left; background-position:0 2px; }
.top .home { float:right; background-position:0 100%;}
.top .top_mine{ display:block; float:right; width:50px; text-align:center; line-height:20px; font-size:14px; color:#09cdf7; border-left:1px solid #dcdcdc; position:relative; top:18px;}
.icon_map{ display: block; background:url(../images/icon_map.png) no-repeat;}
.photo_title{ background-color:#00a0ea;}
.photo_title li{ float:left;}
.photo_title .photo{ width:26%; margin-right:2%;}
.photo_title .photo img{ display:block; width:70px; height:70px; margin:14px auto; border-radius:100%;}
.photo_title .text{ width:72%; color:#fff;}
.photo_title .text .name{ font-size:20px; margin:20px 0 6px 0;}
.photo_title .icon_address{ display:block; width:24px; height:24px; float:left; background:url(../images/icon_address.png) no-repeat; margin-right:3px; background-size:100%;}
/*标题*/
.title{ width:94%; height:26px; margin:16px auto; line-height:26px; font-family:"黑体"; font-size:16px;}
.title i{ display:block; float:left; width:4px; height:20px; background-color:#09cdf7; margin:4px 6px 0 0;}
.title a{ display:block; float:right; font-size:14px; color:#09cdf7; text-align:right;}
/*首页图标*/
.index_icon{ width:40px; margin:10px auto; height:40px; }
.i_icon{display:block; background-image:url(../images/index_icon.png); background-repeat:no-repeat; background-size:100%;}
.i_notice{ background-position:0 0;}/*通知公告*/
.i_repair{ background-position:0 4%;}/*在线报修*/
.i_complain{ background-position:0 8%;}/*投诉建议*/
.i_bill{ background-position:0 12%;}/*物业账单*/
.i_custom{ background-position:0 16%;}/*专属客服*/
.i_about{ background-position:0 20%;}/*关于我们*/
.i_preferential{ background-position:0 24%;}/*特惠团*/
.i_activity{ background-position:0 28%;}/*社区活动*/
.i_bespeak{ background-position:0 32%;}/*预约服务*/
.i_nominate{ background-position:0 36%;}/*新房推荐*/
.i_rental{ background-position:0 40%;}/*租售服务*/
.i_ambitus{ background-position:0 44%;}/*周边商家*/
.i_interflow{ background-position:0 48%;}/*交流论坛*/
.i_rate{ background-position:0 52%;}/*亲友租客*/
.i_message{ background-position:0 56%;}/*我的消息*/
.i_orders{ background-position:0 60%;}/*订单记录*/
.i_integral{ background-position:0 64%;}/*积分记录*/
.i_consume{ background-position:0 68%;}/*消费记录*/
.i_fix{ background-position:0 72%;}/*我的报修*/
.i_advise{ background-position:0 76%;}/*投诉建议*/
.i_mrental{ background-position:0 80%;}/*我的租售*/
.i_issue{ background-position:0 84%;}/*论坛发布*/
.i_bespoke{ background-position:0 88%;}/*我的预约*/
.i_community{ background-position:0 92%;}/*社区活动*/
.i_evaluate{ background-position:0 96%;}/*评价*/
.i_repair2{ background-position:0 100%;}/*报修*/
.current_icon i{ display:block; width:80px; margin:10px auto; height:80px;}
.current_icon .icon01{ background:url(../images/icon01.png) no-repeat; background-size:100%;}
.current_icon .icon02{ background:url(../images/icon02.png) no-repeat; background-size:100%;}
.current_icon .icon03{ background:url(../images/icon03.png) no-repeat; background-size:100%;}
.current_icon .icon04{ background:url(../images/icon04.png) no-repeat; background-size:100%;}
.current_icon .icon05{ background:url(../images/icon05.png) no-repeat; background-size:100%;}
.current_icon .icon06{ background:url(../images/icon06.png) no-repeat; background-size:100%;}
.current_icon .icon07{ background:url(../images/icon07.png) no-repeat; background-size:100%;}
.current_icon .icon08{ background:url(../images/icon08.png) no-repeat; background-size:100%;}
.current_icon .icon09{ background:url(../images/icon09.png) no-repeat; background-size:100%;}
.current_icon .icon10{ background:url(../images/icon10.png) no-repeat; background-size:100%;}
.current_icon .icon11{ background:url(../images/icon11.png) no-repeat; background-size:100%;}
.current_icon .icon12{ background:url(../images/icon12.png) no-repeat; background-size:100%;}
.current_icon .icon13{ background:url(../images/icon13.png) no-repeat; background-size:100%;}
.current_icon .icon14{ background:url(../images/icon14.png) no-repeat; background-size:100%;}
.current_icon .icon15{ background:url(../images/icon15.png) no-repeat; background-size:100%;}
.current_icon .icon16{ background:url(../images/icon16.png) no-repeat; background-size:100%;}
.current_icon .icon17{ background:url(../images/icon17.png) no-repeat; background-size:100%;}
.current_icon .icon18{ background:url(../images/icon18.png) no-repeat; background-size:100%;}
.current_icon .icon19{ background:url(../images/icon19.png) no-repeat; background-size:100%;}
.current_icon .icon20{ background:url(../images/icon20.png) no-repeat; background-size:100%;}
.current_icon .icon21{ background:url(../images/icon21.png) no-repeat; background-size:100%;}
.current_icon .icon22{ background:url(../images/icon22.png) no-repeat; background-size:100%;}
/*login 登录*/
.login{ width:100%; height:100%; background:#64c37d url(../images/login_bg.png) no-repeat center bottom; background-size:100%;}
.login .login_name{ width:100%; height:36%;}
.login .login_name img{ display:block; position:relative; width:auto; height:100%;}
.login .box{ width:62%; margin:0px auto;}
.login .box a{ display:block; margin:0px auto; text-indent:20%; line-height:50px; border-radius:6px; color:#fff; margin-bottom:16px;background-color:#00a0e9; font-size:20px; position:relative;box-shadow:0px 4px 3px #289f32;}
.login .box a img{ display:block; width:50px; height:50px; float:right; position: absolute; right:10px; top:0px;}/*.login{ width:100%; height:100%; background:#09cdf7 url(../images/login_bg.png) no-repeat center bottom; background-size:100%;}
.login .login_name{ width:100%; height:28%;}
.login .login_name img{ display:block; position:relative; top:18%;}
.login .box{ width:86%; margin:0px auto;}
.login .box a{ display:block; float:left; width:46%; text-align:center; line-height:46px; border-radius:6px; color:#fff; margin-right:8%; margin-bottom:16px; }
.login .box a:nth-child(1){ background-color:#0dcc98;}
.login .box a:nth-child(2){ background-color:#f0a30e;}
.login .box a:nth-child(3){ background-color:#469af8;}
.login .box a:nth-child(4){ background-color:#cf71ff;}
.login .box a:nth-child(2n){ margin-right:0;}
*/
/*form 通用表单*/
.form{width:94%; margin:6px auto;}
.form div{ width:100%; margin:6px auto 10px auto;}
.form .cont{ border:1px solid #dcdcdc; background:#fff;}
.form .cont li{ line-height:42px; border-bottom:1px solid #dcdcdc; padding:0 10px; position:relative;}
.form .cont li:after{ display:block; content:''; clear:both;}
.form .cont label{ display:block; float:left; width:30%; color:#666666; vertical-align:top;}
.form .cont input{ width:67%; padding:2px 2px 2px 9px;}
.form .cont textarea{ width:67%; padding:2px 2px 2px 9px; height:104px; line-height:33px}
.form .cont select{ width:67%; padding:2px 0; background:url(../images/icon_right_down.png) no-repeat 98% 110%;background-size:20px;}
.form .cont select.none{background:#fff;}
.form .cont li.line{ height:118px;}
.form .cont li.pic input[type=file] { width:60%; position: absolute;top: 10px;left:32%; bottom: 0;border: 0;padding: 0;margin: 0;height: 50px;cursor: pointer;filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;}
.form .cont li.pic .file_up{ width:48px; text-align:center; margin:10px auto; height: 48px; line-height:42px; display: inline-block; cursor: pointer;border: 2px  solid #f29702; color:#f29702; font-size:30px; border-radius: 6px;}
.form .cont li.pic img{ display: inline-block;width:48px; margin:10px auto; height: 48px; border-radius: 6px;}
.form .cont li:last-child{ border-bottom:0;}
.form .cont .yz input{ width:38%;}
.form .cont .yz .btn_yz{ display:inline-block; width:32%; text-align:center; line-height:32px; background-color:#00a0e8; color:#fff; border-radius:6px; font-size:12px;}
.form .post{ display:block; width:100%; text-align:center; height:40px; line-height:40px; background-color:#00a0e9; color:#fff; border-radius:4px;}
/**form look 表单查看**/
.form .cont p{ float:left; width:67%; padding:2px 2px 2px 9px;}
.form .cont .pic_img img{ display:block; float:left; width:21%; height:70px; margin:10px 2%;}
/*图片上传*/
.form .pics span{ display:block; float:left; width:25%; background-color:#ffffff; position:relative;}
.form .pics span:after{ display:block; width:18px; height:18px; content:''; background:#09cdf7 url(../images/close_white.png) no-repeat; background-size:100%; border-radius:100%; position:absolute; top:-4px; right:-2px; z-index:100;}
.form .pics span img{ display:block; width:90%; margin:0px auto; height:74px; position:relative;}
.form .ups{ position:relative;}
.form .ups p{ width:100%; border:1px solid #09cdf7; color:#09cdf7; text-align:center; background-color:#fff; border-radius:4px;}
.form .ups input[type='file']{filter:alpha(opacity=0) !important;opacity:0 !important; position:absolute; top:0; left:0; height:42px; width:100%;}
/*fix 在线维修*/
.fix .title{ color:#999;}
.fix .box{ width:100%; background-color:#fff; border-left:1px solid #dcdcdc; border-top:1px solid #dcdcdc;}
.fix .box a{ display:block; float:left; width:50%; height:50px; line-height:50px; border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
.fix .box a i{ display:block; float:left; width:50px; height:32px; background:url(../images/icon_fix.png) no-repeat; background-size:32px; margin-top:8px;}
.fix .box a i.icon1{ background-position: center 0;}
.fix .box a i.icon2{ background-position: center -32px;}
.fix .box a i.icon3{ background-position: center -64px;}
.fix .box a i.icon4{ background-position: center -96px;}
.fix .person div{ line-height:40px; background:#ffffff url(../images/iocn_up_down.png) no-repeat 98% -24px; background-size:30px; border-bottom:1px solid #dcdcdc;}
.fix .person div.up{ background-position:98% 6px;}
.fix .person div > i{ display:block; width:40px; height:40px; float:left; line-height:40px; background:#ffffff url(../images/icon_curson.png) no-repeat left -40px;}
.fix .person div.up > i{ background-position:left 2px;}
.fix .person div ul{ background-color:#eeeeee; text-indent:40px;}
.fix .person div ul li{ border-top:1px solid #dcdcdc;}
.fix .person div ul li a{ display:block; width:100%;}
.fix .mine{ width:94%; margin:10px auto;}
.fix .mine .list{ width:100%; margin-bottom:10px; background:#fff; border-radius:6px;}
.fix .mine .list > div{ padding:10px;}
.fix .mine .list .cont li{ float:left; width:24%;}
.fix .mine .list .cont .icon{ display:block; width:54px; height:54px; background:url(../images/icon_fixed.png) no-repeat; background-size:100%;}
.fix .mine .list .cont .text{width:76%;}
.fix .mine .list .cont .text p{ line-height:24px;}
.fix .mine .list .cont .text span{  display:block; float:left;}
.fix .mine .list .cont .text .name{ width:60%; font-size:18px;}
.fix .mine .list .cont .text .date{ width:40%; color:#999999; text-align:right; font-size:14px;}
.fix .mine .list .more{ text-align:center; line-height:40px; border-top:1px solid #dcdcdc; font-size:20px;}
.fix .mine .list .more a{ display:block; width:100%; height:40px; color:#00a0ea;}
.fix .status{line-height:36px; text-indent:10px; color:#fff;}
.fix .status.fixing{ background-color:#d7000f;}
.fix .status.fixed{ background-color:#1eaa39;}
.fix .mine_cont{ margin:10px auto; background:#fff; padding:10px;}
.fix .mine_cont li{ line-height:26px;}
.fix .pay_price{ padding:10px; background:#fff;}
.fix .bottom{ padding:0 10px; width:100%; height:50px; line-height:50px; background:#fff; position:fixed; bottom:0px; left:0;}
.fix .bottom li{ float:left; width:60%; position:relative;}
.fix .bottom li .pay{ width:50%; text-align:center; line-height:50px; position:absolute; right:10px; bottom:0px; background:#ffffff url(../images/arrow_drop.png) no-repeat right 84%;background-size:12px;}
.fix .bottom li .pay_list{ width:50%; text-align:center; line-height:50px; position:absolute; right:0px; bottom:50px; background-color:#ffffff; }
.fix .bottom li .pay_list span{ display:block;border-bottom:1px solid #dcdcdc;}
.fix .bottom li.btn{ width:40%;}
.fix .bottom li.btn a{ display:block; width:90%; text-align:center; margin:8px auto; height:36px; line-height:36px; background:#d7000f; color:#fff; border-radius:10px;}
.fix .evaluate{width:100%; margin:10px auto;}
.fix .evaluate div{ width:100%; margin:10px auto;}
.fix .evaluate .cont{ border:1px solid #dcdcdc; background:#fff;}
.fix .evaluate .cont li{ line-height:36px; border-bottom:1px solid #dcdcdc; padding:0 10px; position:relative;}
.fix .evaluate .cont input{ width:67%; padding:2px;}
.fix .evaluate .cont textarea{ width:67%; padding:2px; height:104px; line-height:33px}
.fix .evaluate .cont li:after{ display:block; content:''; clear: both;}
.fix .evaluate .cont li.line{ height:118px;}
.fix .evaluate .cont li.pic input[type=file] { width:40%; position: absolute;top: 10px;left:32%; bottom: 0;border: 0;padding: 0;margin: 0;height: 50px;cursor: pointer;filter: alpha(opacity=0);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;}
.fix .evaluate .cont li.pic .file_up{ width:48px; text-align:center; margin:10px auto; height: 48px; line-height:42px; display: inline-block; cursor: pointer;border: 2px solid #f29400; color:#f29400; font-size:30px; border-radius: 6px;}
.fix .evaluate .cont li:last-child{ border-bottom:0;}
.fix .evaluate .cont label{ display:block; float:left; width:30%; color:#666666; vertical-align:top;}
.fix .evaluate .post{ display:block; width:94%; margin:0px auto; height:40px; line-height:40px; background-color:#1eaa39; color:#fff; border-radius:4px;}
.fix .btn a{display:block; width:96%; margin:10px auto 0 auto; text-align:center; height:36px; line-height:36px; border-radius:6px; color:#fff;}
.fix .btn .post{ background-color:#00a0ea;}
.fix .btn .sale{background-color:#cccccc;}
.fix .ckbox label{ margin-left:18px;}
.fix .ckbox label a{position: relative; top:2px; color:#308ab5;}
/*notice 通知公告*/
.notice_main{ width:94%; margin:10px auto;}
.notice_main .list{ width:100%; margin-bottom:10px;border-radius:6px;}
.notice_main .list > div{ padding:10px;}
.notice_main .list .cont{ background:#fff; }
.notice_main .list .cont .clearfix li{ float:left; width:24%;}
.notice_main .cont .icon{ display:block; width:54px; height:54px; background:url(../images/icon_apply.png) no-repeat; background-size:100%;}
.notice_main .cont .icon1{background-position:0 0;}
.notice_main .cont .icon2{background-position:0 32%;}
.notice_main .cont .icon3{background-position:0 65%;}
.notice_main .list .cont .clearfix .text{width:76%;}
.notice_main .list .cont .text p{ line-height:24px;}
.notice_main .list .cont .text span{  display:block; float:left;}
.notice_main .list .cont .text .name{ width:60%; font-size:18px;}
.notice_main .list .cont .text .date{ width:40%; color:#999999; text-align:right; font-size:14px;}
.notice_main .list .cont .txt{color:#999999; font-size:14px;}
.notice_main .list .more{ text-align:center; line-height:40px; border-top:1px solid #dcdcdc; font-size:20px;}
.notice_main .list .more a{ display:block; width:100%; height:40px; color:#00a0ea;}
.notice .all .ck{ display:none;}
.notice .edit .list .cont{ float:left; width:90%;}
.notice .edit .ck{width:10%;float:left;}
.notice .btn{ display:none;}
.notice .btn{ width:100%; position:fixed; bottom:0; left:0;}
.notice .btn li{ float:left; width:50%; text-align:center; line-height:40px; color:#fff;}
.notice .btn .del{ background-color:#d7000f;}
.notice .btn .ckAll{ background-color:#1daa39;}
.icon_fix{ display:block; width:54px; height:54px; background:url(../images/icon_fixed.png) no-repeat center center; background-size:46px;}
.icon_pay{ display:block; width:54px; height:54px; background:url(../images/icon_pay.png) no-repeat center center; background-size:46px;}
.icon_complain{ display:block; width:54px; height:54px; background:url(../images/icon_complain.png) no-repeat center center; background-size:46px;}
/** 物业管家 **/
.butler_top{ width:100%; height:40px; background-color:#ffffff;}
.butler_top li{ float:left;}
.butler_top .map{ width:10%;}
.butler_top .icon_map{ margin:10px auto;}
.butler_top .address{ width:88%; height:40px; line-height:40px; overflow:hidden; font-size:15px;}
.butler_name{ width:100%; height:160px; background:url(../images/butler_top.jpg) no-repeat; background-size:100% 100%;}
.butler_name img{ display:block; width:90px; height:90px; margin:0px auto; border-radius:100%; position:relative; top:20px;}
.butler_name .text{ line-height:40px; text-align:center; position:relative; top:20px;}
/*bang 红黑榜*/
.bang_box{ width:94%; margin:10px auto; position:relative;}
.bang_list{ float:left; width:49%; margin-right:2%; background-color:#fff; border-radius:6px; margin-bottom:10px;}
.bang_list:nth-child(2n){ margin-right:0;}
.bang_list img{ display:block; width:100%; border-radius:6px 6px 0 0; height:160px;}
.bang_list .text{ padding:10px;}
.bang_list .clearfix span{ display:block; float:left; width:50%; line-height:30px;}
.bang_love i{ display:block; float:left; width:18px; height:22px; background:url(../images/love.png) no-repeat 0 2px; background-size:100%; position:relative; top:4px; margin-right:4px;}
.bang_love i.on{ background-position:0 -16px;}
.bang_list .clearfix .up{ background-color:#00a0ea; height:30px; line-height:30px; color:#fff; text-align:center; border-radius:6px;}
.bang_tit{ padding:10px 10px 0 10px;}
.bang_tit .gery{ margin-top:6px;}
.bottom_up{ width:100%; line-height:60px; background-color:#fff; position:fixed; left:0; bottom:0; padding:0px 10px;}
.bottom_up li{ float:left; width:50%;}
.bottom_up .bang_love i{ position:relative; top:19px;}
.bottom_up .up{ display:block; width:80%; float:right; height:36px; line-height:36px; background-color:#00a0ea; color:#fff; text-align:center; border-radius:6px; position:relative; top:14px; position: relative; text-indent:30px;}
.bottom_up .up i{ display:block;width:26px; height:26px; background:url(../images/love_white.png) no-repeat; background-size:100%; position:absolute; left:26%; top:6px;}
/* form_set 文章发布*/
.form_set li{ width:100%; background-color:#f2f2f2;}
.form_set li{ background-color:#ededed; line-height:40px; margin-bottom:10px; position:relative;}
.form_set li:after{ display:block; content:''; clear:both;}
.form_set input{ width:100%; padding:4px 2px 4px 9px; background-color:#ededed;}
.form_set textarea{ width:100%;  padding:4px 2px 4px 9px; background-color:#ededed; line-height:20px; min-height:84px;}
.form_set p{ padding:2px 2px 2px 9px; color:#999;}
.form_set .brow{ display:block; width:100px; text-align:center; line-height:24px; background:#fff; border:1px solid #09cdf7; color:#09cdf7; border-radius:4px; float:right; position:relative; top:6px; right:6px;}
.form_set .blue{ width:100%; background:#fff url(../images/icon_drop_blue.png) no-repeat 98% center; background-size:14px; border:1px solid #09cdf7; border-radius:4px; position:relative;}
.form_set .chioce{ width:100%; background-color:#fff; border:1px solid #dcdcdc; box-shadow:0 0 5px rgba(0,0,0,0.5); position:absolute; top:50px; left:0; z-index:200;}
.form_set .chioce span{ display:block;}
.pr{ position:relative;}
/* 表情 */
.m_brow{ position:absolute; top:36px; left:0; padding:4px; background-color:#fbfeff; border:1px solid #dcdcdc; box-shadow:0 0 5px rgba(0,0,0,0.5); z-index:200;}
/**form look 表单查看**/
.form .cont p{ float:left; width:78%;  text-align:right; color:#999999;}
.form .cont p input{ width:30px;}
.form .cont .pic_img {padding:2px 2px 2px 9px;}
.form .cont .pic_img img{ display:block; float:left; width:21%; height:70px; margin:10px 2%;}
/*icon_personal 个人中心图标*/
.icon_personal{ display:block; width:20px; height:20px; background:url(../images/icon_presonal.png) no-repeat; background-size:100%; margin-right:6px;}
.icon_personal.notice{ background-position:0 0;}
.icon_personal.i_advise{ background-position:0 -20px;}
.icon_personal.i_bespoke{ background-position:0 -40px;}
.icon_personal.i_fix{ background-position:0 -60px;}
.icon_personal.i_rental{ background-position:0 -80px;}
/*personal 个人中心*/
.per_tit{ text-align:center; line-height:60px; font-size:24px; color:#09cdf7; border-bottom:1px solid #dcdcdc;}
.personal .per_msg{ width:94%; margin:10px auto; background-color:#f2f2f2; padding:6px;}
.personal .per_msg li{ float:left;}
.personal .per_msg .photo{ width:16%; margin-right:2%;}
.personal .per_msg .photo img{ display:block; width:100%; height:54px; border-radius:100%;}
.personal .per_msg .msg{ width:82%;}
.personal .per_msg .msg p{ line-height:26px;}
.personal .per_msg .name{ font-size:16px;}
.personal .per_msg .name a{ float:right; color:#09cdf7; font-size:14px;}
.personal .per_msg .address span{ display:block; float:left;}
.personal .per_msg .address .icon_map{ width:20px; height:20px; float:left; background-size:16px; position:relative; top:5px;}
.personal .per_msg .address span:nth-child(1){ width:75%; height:26px; line-height:26px; white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
.personal .per_msg .address span:nth-child(2){ width:25%; text-align:right;}
.personal .list{ width:94%; margin:0px auto;}
.personal .list li{ float:left; width:33.3%; border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; text-align:center;}
.personal .list li:nth-child(1),.personal .list li:nth-child(2),.personal .list li:nth-child(3){ border-top:0;}
.personal .list li:nth-child(3n){ border-right:0;}
.personal .list li i{ display:block; width:40px; margin:10px auto; height:40px; background-image:url(../images/icon_personal.png); background-repeat:no-repeat; background-size:40px;}
.personal .list li:nth-child(1) i {background-position:0 0;}
.personal .list li:nth-child(2) i{ background-position:0 -40px;}
.personal .list li:nth-child(3) i{ background-position:0 -80px;}
.personal .list li:nth-child(4) i{ background-position:0 -120px;}
.personal .list li:nth-child(5) i{ background-position:0 -160px;}
.personal .list li:nth-child(6) i{ background-position:0 -200px;}
.personal .list li:nth-child(7) i{ background-position:0 -240px;}
.personal .list li:nth-child(8) i{ background-position:0 -280px;}
.personal .list li:nth-child(9) i{ background-position:0 -320px;}
.personal .list li:nth-child(10) i{ background-position:0 -360px;}
.personal .list li:nth-child(11) i{ background-position:0 -400px;}
.personal .list li span{ display:block; line-height:40px;}
/*message 我的消息*/
.message .list{ width:96%; margin:0px auto;}
.message .list li{ background-color:#f2f2f2; line-height:20px; margin:10px auto; padding:10px 6px;}
.message .list li:after{ display:block; content:''; clear:both;}
.message .list li .ck{ position:relative; top:-3px;}
.message .list li .ckbox{float:left;}
.message .list li i{ float:left;}
.message .list li p{ float:left; position:relative; width:31%;}
.message .list li p:last-child{ text-align:right;}
.message .list li .m_red{ display: inline-block; width:6px; height:6px; background-color:#f9191f; border-radius:100%; position:relative; top:-6px;}
.message .list li p.blue{ text-align:right; width:20% }
.message .list .ckbox{ position:relative;}
.message .list .ckbox input{ margin-right:12px;}
.message .list .ckbox label{ position:absolute; top:0; left:-10px;}
/*message　news我的消息详情*/
.about_top{ width:100%; position:relative;}
.about_top .text{ padding:6px 10px; }
.news{ width:100%; margin:10px auto; position:relative;}
.news ul{ width:94%; margin:0px auto; padding:10px;}
.news .tit{ font-size:20px; text-align:center; line-height:40px;}
.news .date{ text-align:center; font-size:12px; margin-bottom:10px;}
.news p{ line-height:22px;}
.news img{ margin:5px 0;}
/*favorable 特惠团*/
.top a.i_edit{ color:#1eaa39;}
.favorable .name{ margin-top:10px; padding:10px; background-color:#fff; border:1px solid #dcdcdc; font-size:16px;}
.favorable .list{ background-color:#fff; border-left:1px solid #dcdcdc; border-right:1px solid #dcdcdc;}
.favorable .list ul{ padding:10px; border-bottom:1px solid #dcdcdc;}
.favorable .list li{ float:left;}
.favorable .list .pic{ width:24%; margin-right:2%;}
.favorable .list .pic img{ display:block; max-height:70px;}
.favorable .list .text{ width:74%;}
.favorable .list .text .tit{ width:100%; height:44px; line-height:22px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.favorable .list .txt:after{ display:block; content:''; clear:both;}
.favorable .list .txt span{ display:block; float:left;}
.favorable .list .txt span:nth-child(1){ width:60%}
.favorable .list .txt span:nth-child(2){ width:40%; text-align:right;}
.favorable .list .txt a{ display:inline-block; width:60px; text-align:center; height:24px; line-height:24px; color:#fff; font-size:14px; border-radius:4px;}
.favorable .list .txt a.a_link1{ background-color:#1eaa39;}
.favorable .list .txt a.a_link2{ background-color:#d7000f;}
/*orders 订单*/
.orders .salers_name{ background-color:#fff;}
.orders .salers_name > div{padding:10px; border-bottom:1px solid #dcdcdc;}
.orders .salers_name .tit .name{ margin-bottom:10px;line-height:24px; font-size:18px;}
.orders .salers_name .tit .red{ font-size:18px; line-height:30px;}
.orders .salers_name .tit .prev{ color:#999; font-size:12px; font-style:normal; text-decoration: line-through; margin-left:6px;}
.upDown li{ float:left; width:50%; line-height:36px;}
/*订单列表*/
.orders .list ul{ margin-top:10px; background-color:#fff; border:1px solid #dcdcdc;}
.orders .list li{ border-bottom:1px solid #dcdcdc; padding:10px 10px;}
.orders .list li:after{ display:block; content:''; clear:both;}
.orders .list p{ float:left;}
.orders .list .date{ line-height:26px;}
.orders .list .date p:nth-child(1){ width:30%;}
.orders .list .date p:nth-child(2){ width:70%; text-align:right;}
.orders .list .date span{ margin-right:10px; color:#999;}
.orders .list .date i{ font-style:normal; }
.orders .list .date em{ font-style:normal; color:#d7000f;}
.orders .list .detail p:nth-child(1){ width:28%; margin-right:2%;}
.orders .list .detail p img{ display:block; width:100%; max-height:70px;}
.orders .list .detail p:nth-child(2){ width:70%;}
.orders .list .detail p .tit{ width:100%; height:48px; overflow:hidden; font-size:18px;}
.orders .list .detail p span{ display:block; line-height:24px;}
.orders .list .detail p em{ display:block; float:right; text-align:right; color:#999; font-style:normal;}
.orders .list .btn a{ display:block; float:right; width:24%; text-align:center; margin-left:10px; line-height:32px; color:#fff; border-radius:6px;}
.orders .list .btn .sure{ background-color:#00a0ea;}
.orders .list .btn .pay{ background-color:#d7000f;}
.orders .list .btn .none{ background-color:#cccccc;}
.orders .list .btn .evaluate{ background-color:#f39800;}
.orders .status p{ padding:10px; color:#fff;}
.orders .status .p_red{ background-color:#d7000f;}
.orders .status .p_green{ background-color:#1eaa39;}
.orders .status .p_blue{ background-color:#00a0ea;}
.orders .status .p_gery{ background-color:#999999;}

/*form_list*/
.form_list{ padding:10px; background-color:#fff; position:relative; border:1px solid #dcdcdc;}
.form_list li{ line-height:28px;}
.form_list li:after{ display:block; content:''; clear:both;}
.form_list li span{ display:block; float:left; width:74%;}
.form_list li .name{ width:26%;}
.orders .list .list_cont p{ display:block; float:none !important;}
.orders .list .list_cont .tit{ font-size:18px; line-height:30px;}
.orders .list .list_cont:after{ display:block; content:''; clear:both;}
.orders .list .list_cont span{ display:block; float:left; width:70%; line-height:26px;}
.orders .list .list_cont .name{ width:30%; color:#999;}
.orders .bottom{ padding:0 10px; width:100%; line-height:50px; background:#fff; position:fixed; bottom:0px; left:0; border-top:1px solid #dcdcdc;}
.orders .bottom li{ float:left; width:60%; position:relative;}
.orders .bottom li .pay{ width:50%; text-align:center; line-height:50px; position:absolute; right:10px; bottom:0px; background:#ffffff url(../images/arrow_drop.png) no-repeat right 84%;background-size:12px;}
.orders .bottom li .pay_list{ width:50%; text-align:center; line-height:50px; position:absolute; right:0px; bottom:50px; background-color:#ffffff; }
.orders .bottom li .pay_list span{ display:block;border-bottom:1px solid #dcdcdc;}
.orders .bottom li.btn{ width:40%;}
.orders .bottom li.btn a{ display:block; width:90%; text-align:center; margin:8px auto; height:36px; line-height:36px; background:#d7000f; color:#fff; border-radius:10px;}
.orders .bottom .btn_box li{ width:100%;}
.orders .bottom .btn_box a{ display:block; width:23%; text-align:center; line-height:36px; margin:8px 4px; float:right; color:#fff; border-radius:6px;}
.orders .bottom .btn_box .a_white{ background-color:#fff; color:#333; border:1px solid #dcdcdc;}
.orders .bottom .btn_box .a_green{ background-color:#1eaa39;}
.orders .bottom .btn_box .a_orange{ background-color:#f39800;}
/*数字加减*/
.upDown a{display:block; float:right;}
.upDown a.addtext{ width:36px; height:36px; background:url(../images/icon_up_down.png) no-repeat ;background-size:100%; border:1px solid #dcdcdc;}
.upDown a.addDown{ background-position:0 0;}
.upDown a.addUp{ background-position:0 100%;}
.upDown .addinput{ display:block; width:74px; height:36px; text-align:center; border-top:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; background-color:#efefef;}
.orders .orders_cont{ width:100%; margin-top:10px; background-color:#fff; position:relative;}
.orders .orders_cont li{ padding:10px;}
.orders .orders_cont .tit{ font-size:20px;}
.orders .orders_cont a{ display:block; width:100%; text-align:center; height:56px; line-height:56px; background-color:#00a0ea; color:#fff; position:fixed; left:0; bottom:0; font-size:18px;}

/*integral 积分记录 */
.integral .list{ width:94%; margin:0px auto;}
.integral .list li{ border-bottom:1px solid #dcdcdc;}
.integral .list li:after{ display:block; content:''; clear:both;}
.integral .list li p{ float:left; line-height:20px; padding:10px 0;}
.integral .list li .text{ width:40%;}
.integral .list li p i{ display:block; float:left; width:30%; margin-right:6%; font-size:12px; text-align:center; color:#fff; border-radius:4px;}
.integral .list li p span{ display:block; float:left; width:52%; color:#333;}
.integral .list li p em{ display:block; float:left; width:12%;}
.integral .list li p.blue i{ background-color:#09cdf7;}
.integral .list li p.orange i{ background-color:#fa9614;}
.integral .list li .date{ width:60%; text-align:right; color:#999}
/*我的报修等通用样式*/
.currency .list{ width:94%; margin:10px auto;}
.currency .list ul{ width:100%;  padding:10px; background-color:#f2f2f2; margin-bottom:10px;}
.currency .list li:after{ display:block; content:''; clear:both;}
.currency .list .icon_personal{ float:left;}
.currency .list span{ display:block; float:left; width:72%;}
.currency .list span:nth-child(2){ width:28%; text-align:right;}
.currency .list p{ line-height:22px; color:#999;}
.currency .list a{ display:block; float:left; width:50%;}
.currency .list .blue2{ text-align:right;}
.currency .btn{ width:94%; margin:10px auto;}
.currency .btn li{ float:left; width:50%;color: #fff; line-height: 40px; text-align: center;}
.currency .btn .del{background-color:#ff3399;}
.currency .btn .ckAll{background-color:#09cdf7;}
/*issue 论坛发布*/
.issue .list{ width:94%; margin:10px auto; background-color:#f2f2f2;}
.issue .list a > ul{ padding:10px;}
.issue .list a > .clearfix { border-bottom:1px solid #fff;}
.issue .list a > .clearfix li{ float:left;}
.issue .list a  > .clearfix li p{ line-height:20px;}
.issue .list .photo{ width:20%}
.issue .list .photo img{ display:block; width:40px; height:40px; border-radius:100%;}
.issue .list .names{ width:46%;}
.issue .list .names p{ width:100%; height:20px; overflow:hidden; }
.issue .list .names .name{font-size:12px;}
.issue .list .text{ width:34%; text-align:right; font-size:12px; color:#999;}
.issue .list .text span{ display:inline-block; margin-left:12px;}
.issue .reply p{padding:6px 10px;}
.issue .reply .np .date{ width:100%; text-align:right; color:#999; font-size:12px; border-bottom:1px solid #fff;}
.issue .reply .red{ border-top:1px solid #fff;}
.issue .list .tit{ line-height:36px;}
.issue .list .pic img{ display:block; float:left; width:30%; height:80px; margin-right:5%}
.issue .list .pic img:nth-child(3n){margin-right:0;}
.issue_top{ width:94%; margin:10px auto;}
.issue_top li p{ float:left; height:30px; line-height:30px;}
.issue_top li p.tit{ width:70%; overflow:hidden;}
.issue_top li p.gery{ width:30%; text-align:right; overflow:hidden;}
.issue_top li.half p{ width:50%;}
.issue_top li.half p:nth-child(2){ color:#999; overflow:hidden;}
.issue_list{ width:94%; margin:10px auto;}
.issue_list .issue_post{ padding:10px; background-color:#f2f2f2; margin-bottom:10px}
.issue_list .issue_post .post_tit{ border-bottom:1px solid #fff; padding:0 0 10px 0;}
.issue_list .issue_post .post_tit p{ float:left; line-height:40px;}
.issue_list .issue_post .post_tit p.photo{ width:20%;}
.issue_list .issue_post .post_tit p.photo img{ display:block; width:40px; height:40px; border-radius:100%;}
.issue_list .issue_post .post_tit p.name{ width:70%;}
.issue_list .issue_post .post_tit p.appellation{ width:10%; text-align:right;}
.issue_list .issue_post .post_content p{ line-height:30px; font-size:15px;}
.issue_list .issue_post .post_content img{ margin-bottom:10px; margin-right:10px;}
.issue_list .issue_post .post_content img:last-child{margin-right:0px;}

.rich{ width:94%; margin:0px auto; position:relative;}
.rich li{ position:relative; width:100%;}
.rich #saytext{ width:100%; margin:10px auto; padding:4px; line-height:22px; min-height:74px; border:1px solid #dcdcdc;}
.rich .post{ display:block; width:30%; margin:0px auto; line-height:30px; border-radius:4px;}
#facebox{ position:absolute; top:30px; left:0; background-color:#fff; border:1px solid #dcdcdc; padding:6px 10px;}
/*activity 社区活动*/
.activity hr{ margin-top:15px;}
.activity .list{ width:94%; margin:0px auto;}
.activity .list li{ float:left; width:50%; border-right:1px solid #dcdcdc; border-top:1px solid #dcdcdc; padding-top:10px;}
.activity .list li.pic{ padding-bottom:10px;}
.activity .list li:nth-child(2n+1){ padding-right:10px;}
.activity .list li:nth-child(2n){ padding-left:10px; border-right:0;}
.activity .list li:nth-child(1),.activity .list li:nth-child(2){ border-top:0; padding-top:0;}
.activity .list li img{ display:block; width:100%; height:110px;}
.activity .list .tit{ width:100%; height:30px; line-height:30px; overflow:hidden;}
.activity .list .seen span{ display:block; float:left;padding-bottom:6px; font-size:12px;}
.activity .list .seen span:nth-child(1){ width:60%; }
.activity .list .seen span:nth-child(2){ width:40%; text-align:right; }
.activity .list .seen span a{ display:block; float:right; width:60px; line-height:20px; color:#fff; text-align:center; border-radius:4px;}
.activity .list p.red{ margin-bottom:6px;}
.activity .list .discount span{ display:block; float:left; width:22.5%; text-align:center; margin-right:3%; margin-bottom:6px; border:1px solid #09cdf7; color:#09cdf7;}
.activity .list .discount span:nth-child(4n){ margin-right:0;}
.activity .list .price span{ display:block; float:left; width:50%; padding-bottom:6px; font-size:16px;}
.activity .list .price span i{ display:block; float:right; width:70px; line-height:24px; color:#fff; text-align:center; font-size:12px;}
.activity .list .half span{ display:block; float:left; width:50%; padding-bottom:6px; height:30px; line-height:30px; overflow:hidden;} 
.activity .list .half span:nth-child(2){ text-align:right;}
.activity .cont{ width:94%; margin:10px auto; background-color:#f2f2f2; padding:10px;}
.activity .cont li{ float:left;}
.activity .cont .photo{ width:32%; margin-right:2%;}
.activity .cont .photo img{ display:block; width:100%; height:84px;}
.activity .cont .text{ width:66%;}
.activity .cont .text .name{ font-size:16px; width:100%; height:48px; line-height:24px; overflow:hidden;}
.activity .cont .text .gery{ line-height:20px;}
.activity .cont .text .num{ display:block; float:right; text-align:right;}
.activity .cont .status{width:100%;}
.activity .cont .status div{ width:100%; margin-top:10px; height:30px; line-height:30px; border-radius:4px;}

.fix_form{ width:100%;}
.fix_form .post{ display:block; width:94%;  margin:10px auto; line-height:38px; color:#fff; border-radius:6px;}

/*shop 周边商家详情*/
.shop .cont_tit .text,.shop .cont_tit .tit,.shop .cont{ display:block; width:94%; margin:10px auto; position:relative;}

/*star*/
#starBox{width:65%;height:26px; position:relative; top:7px; float:left;}
/**/
#starBox .description{clear:both;padding:10px 0px}
#starBox .star{height:21px;width:100px;position:relative;background:url(../images/star.png) repeat-x;cursor:pointer;background-size:20px;}
#starBox .star li{float:left;padding:0px;margin:0px}
#starBox .star li a{display:block;width:22px;height:21px;overflow:hidden;text-indent:-9999px;position:absolute;z-index:5}
#starBox .star a.one-star{left:0}
#starBox .star a.one-star:hover{width:20px}
#starBox .star a.two-stars{left:20px}
#starBox .star a.two-stars:hover{width:40px}
#starBox .star a.three-stars{left:40px}
#starBox .star a.three-stars:hover{width:60px}
#starBox .star a.four-stars{left:60px}
#starBox .star a.four-stars:hover{width:80px}
#starBox .star a.five-stars{left:80px}
#starBox .star a.five-stars:hover{width:100px}
#starBox .current-rating{background:url(../images/star.png) 0 100%repeat-x;background-size:20px;position:absolute;height:21px;z-index:1;top:-10px;left:0}
/*life 生活服务*/
.life .list{ width:94%; margin:0px auto;}
.life .list li{ float:left; width:33.3%; height:94px; border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; text-align:center;}
.life .list li:nth-child(1),.life .list li:nth-child(2),.life .list li:nth-child(3){ border-top:0;}
.life .list li:nth-child(3n){ border-right:0;}
/*.life .list li i{ display:block; width:40px; margin:10px auto; height:40px; background-image:url(../images/icon_life.png); background-repeat:no-repeat; background-size:40px;}
.life .list li:nth-child(1) i {background-position:0 0;}
.life .list li:nth-child(2) i{ background-position:0 -40px;}
.life .list li:nth-child(3) i{ background-position:0 -80px;}
.life .list li:nth-child(4) i{ background-position:0 -121px;}
.life .list li:nth-child(5) i{ background-position:0 -160px;}
.life .list li:nth-child(6) i{ background-position:0 -200px;}
.life .list li:nth-child(7) i{ background-position:0 -240px;}
*/
.life .list li span{ display:block; line-height:40px;}

.life_top{ width:100%; height:60px; background-color:#f2f2f2;}
.life_top li{ float:left;}
.life_top .map{ width:10%;}
.icon_map{ display:block; width:20px; height:20px; margin:20px auto; background-size:100%;}
.life_top .address{ width:68%; height:60px; line-height:60px; overflow:hidden; font-size:15px;}
.life_top .link{ width:22%;}
.life_top .link .btn_blue{ display:block; width:94%; height:30px; line-height:30px; margin:16px 0; border-radius:4px;}
/* preferential 特惠团 */
.preferential .cont{ width:100%; background:#f2f2f2; padding:10px;}
.preferential .cont .tit{ font-size:15px; width:100%; line-height:23px;}
.preferential .cont li p{ float:left; margin-bottom:6px;}
.preferential .cont .red{ font-size:12px; width:60%; line-height:20px;}
.preferential .cont .sev{ font-size:12px; width:60%; line-height:20px;}
.preferential .cont .sev span{ display:block; line-height:20px;}
.preferential .cont p.orange{ font-size:22px; width:40%; text-align:right;}
.preferential .cont .up_down{ width:50%; margin-left:10%;}
.preferential .cont .up_down a{ display:block; float:left; width:26px; text-align:center; height:30px; line-height:30px; color:#0acdf7; border:1px solid #0acdf7; border-radius:4px; font-weight:bold;}
.preferential .cont .up_down span{ display:block; float:left; margin:0px 10px;}
.preferential .cont .up_down span input{ width:50px; height:30px; line-height:30px; text-align:center;}
.preferential .cont .buy{ width:40%;}
.preferential .cont .buy .btn_blue{ display:block; width:70%; height:30px; line-height:30px; border-radius:4px;}
.preferential .cont .wbtn{ width:40%; font-size:12px;}
.preferential .cont .wbtn a{ display:block; float:right; width:50%; text-align:center; line-height:22px; background-color:#fff; border-radius:4px;}
/*appointment 预约服务*/
.appointment{ width:100%; margin:0px auto; position: relative;}
.appointment_box{margin-top:10px; background-color:#fff;}
.appointment_list{ line-height:30px;}
.appointment_list .line{ border-bottom:1px solid #dcdcdc; font-size:15px;}
.appointment_list .line:last-child{ border-bottom:0;}
.appointment_list .line i{ display:block; float:left; width:10px; margin:10px 10px 0 0; height:10px; background-color:#999999; border-radius:100%;}
.appointment_list .line li{ width:80%; float:left; padding:4px 10px; line-height:30px;}
.appointment_list .line li a{ display:block;}
.appointment_list .line li.arrow{ width:20%; height:30px; background:url(../images/icon_right_down.png) no-repeat 98% 10px; background-size:20px}

.appointment_list.on .line li{ background-position:right -26px;}
.appointment_list .list_drop{ width:100%; background-color:#eeeeee;}
.appointment_list .list_drop li{ padding:10px; border-bottom:1px solid #dcdcdc;}
.appointment_list .list_drop p{ float:left;width:38%;}
.appointment_list .list_drop .pic{ width:24%;}
.appointment_list .list_drop img{ width:80px; height:80px; margin-right:10px;}
.appointment_list .list_drop span{ display:block; line-height:40px; }
.appointment_list .list_drop .gery{ line-height:18px; font-size:12px;}
.appointment_list .list_drop .red{ position:relative; top:40px; font-size:18px; text-align:right;}
.appointment_name .text{padding:10px; background-color:#fff;}
.appointment_name p{ line-height:22px;}

.appointment .yuan{ margin-top:20px; color:#d7000f; font-size:24px;}
.appointment .a_cont{ margin-top:10px; padding:10px; background-color:#fff;}
.appointment .a_cont .tit{ font-size:18px; line-height:40px;}
.appointment .a_cont p{ line-height:22px; text-indent:2em;}
.appointment .mine{ width:94%; margin:10px auto; margin-bottom:10px; background:#fff; border-radius:6px;}
.appointment .mine .cont{ padding:10px;}
.appointment .mine .cont li{ float:left; width:24%;}
.appointment .mine .cont .icon{ display:block; width:54px; height:54px; background:url(../images/icon_appointment.png) no-repeat; background-size:100%;}
.appointment .mine .cont .text{width:76%;}
.appointment .mine .cont .text p{ width:100%; line-height:24px;}
.appointment .mine .cont .text span{  display:block; float:left;}
.appointment .mine .cont .text .name{ width:60%; font-size:18px;}
.appointment .mine .cont .text .date{ width:40%; color:#999999; text-align:right; font-size:14px;}
.appointment .mine .more{ text-align:center; line-height:40px; border-top:1px solid #dcdcdc; font-size:20px;}
.appointment .mine .more a{ display:block; width:100%; height:40px; color:#00a0ea;}
/*bill 物业账单*/
.bill_list{ background-color:#ffffff;}
.bill_list .pirce_list{ padding:10px; border-bottom:1px solid #dcdcdc; background:url(../images/icon_right_down.png) no-repeat right 18px;background-size:24px;}
.bill_list.on .pirce_list{ background-position:right -26px;}
.bill_list .pirce_list img{ width:40px;}
.bill_list .pirce_list li{ float:left;}
.bill_list .cont{background-color:#eeeeee;}
.bill_list .cont li{ border-bottom:1px solid #dcdcdc; line-height:40px; padding:0px 10px;}
.bill_list .cont li:after{ display:block; content:''; clear:both;}
.bill_list .cont li span{ display:block; float:left;}
.bill_list .cont li span:nth-child(1){ width:30%;}
.bill_list .cont li span:nth-child(2){ width:70%; text-align:right;}
.bill .total{ background-color:#fff; margin-top:10px; padding:6px 10px;}
.bill .total p{ float:left; width:50%;}
.bill .total p.right{ text-align:right;}
.bill .btn_blue{ display:block; width:94%; margin:10px auto; line-height:40px; border-radius:6px;}
.bill .month{ line-height:30px; padding:0px 10px;}
.bill .price_list{ background-color:#fff;}
.bill .price_list ul{ border-bottom:1px solid #dcdcdc; padding:4px 10px;}
.bill .price_list li{ float:left;}
.bill .price_list .icon{ width:20%;}
.bill .price_list .icon i{ display:block; width:50px; height:56px; background-repeat: no-repeat; background-position: center center; background-size:100%;}
.bill .price_list .icon_bill{ background-image:url(../images/icon_apply.png)}
.bill .price_list .icon_integral{ background-image:url(../images/icon_integral.png)}
.bill .price_list .name{ width:60%;}
.bill .price_list .name .tit{ font-size:18px; line-height:36px;}
.bill .price_list .name .text{ font-size:12px;color:#999;}
.bill .price_list .date{ width:20%; text-align:right; color:#999; font-size:12px;}
/*缴费记录*/
.price_status{ padding:4px 10px; background-color:#fff;}
.price_status .sussess{ font-size:12px; color:#999; line-height:30px;}
.price_status .wait{ font-size:12px; color:#f39700; line-height:30px;}
.price_status .price_price{ font-size:28px; margin-top:16px;}
/*pay_status 支付状态*/
.pay_status .status{ width:100%;}
.pay_status .status .icon_status{ width:100%; height:160px;}
.pay_status .status .icon_status i{ display:block; width:120px; margin:0px auto; height:120px; position:relative; top:20px; background:url(../images/pay_status.png) no-repeat center top; background-size:120px;}
.pay_status .status .icon_status .pay_correct{ background-position:center top;}
.pay_status .status .icon_status .pay_error{ background-position:center bottom;}
.pay_status .status .text{ width:100%; text-align:center; line-height:40px; font-size:20px;}
.pay_status .btn a{ display:block; float:left; width:44%; text-align:center; margin:10px 3%; height:36px; line-height:36px; border-radius:6px; color:#fff;}
.pay_status .btn a.evaluat{ background-color:#1eaa39;}
.pay_status .btn a.index{ background-color:#f39800;}
.btn_return a{ display:block; width:95%; margin:10px auto; text-align:center; margin:10px 3%; height:36px; line-height:36px; border-radius:6px; color:#fff; background-color:#f39800;}

/*列表详情*/
.seen_list{ width:100%; margin:10px auto; position:relative; background-color:#fff;}
.seen_list li{ line-height:30px; padding:0 10px; color:#999;}
.seen_list li label{color:#333;}
/* ambitus 周边商家 */
.ambitus{ width:100%; background-color:#f2f2f2; padding:0 6px;}
.ambitus li{ float:left; width:20%;}
.ambitus li a{ display:block; width:90%; margin:10px auto;}
.ambitus li i{ display:block; width:54px; height:54px; margin:10px auto;}
.ambitus li p{ text-align:center; line-height:20px; margin-top:10px;}
/* interflow 交流论坛 */
.interflow_top{ width:100%;}
.interflow_top > ul > li{ float:left;width:50% ; padding:10px 10px 0 10px; position:relative;}
.interflow_top .drop p{ width:120px; line-height:36px; border-radius:6px; color:#fff; background:#09cdf7 url(../images/icon_drop.png) no-repeat 94% center;background-size:14px; font-size:16px; text-align:center;}
.interflow_top .drop ul{ width:120px; padding:10px 0; position:absolute; top:50px; background-color:#fff; box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); border-radius:4px;}
.interflow_top .drop li{ line-height:28px; text-align:center;}
.interflow_top .blue{ display:block; text-align:right; line-height:36px;}
/*property 物业服务*/
.property .list{ width:94%; margin:0px auto;}
.property .list li{ float:left; width:33.3%; height:94px; border-top:1px solid #dcdcdc; border-right:1px solid #dcdcdc; text-align:center;}
.property .list li:nth-child(1),.property .list li:nth-child(2),.property .list li:nth-child(3){ border-top:0;}
.property .list li:nth-child(3n){ border-right:0;}
/*.property .list li i{ display:block; width:40px; margin:10px auto; height:40px; background-image:url(../images/icon_property.png); background-repeat:no-repeat; background-size:40px;}
.property .list li:nth-child(1) i {background-position:0 0;}
.property .list li:nth-child(2) i{ background-position:0 -40px;}
.property .list li:nth-child(3) i{ background-position:0 -80px;}
.property .list li:nth-child(4) i{ background-position:0 -121px;}
.property .list li:nth-child(5) i{ background-position:0 -160px;}
.property .list li:nth-child(6) i{ background-position:0 -200px;}
.property .list li:nth-child(7) i{ background-position:0 -240px;}
*/
.property .list li span{ display:block; line-height:40px;}

/* bill 物业账单 */
.bill .box{ width:94%; margin:10px auto;}
.bill .box li{line-height:24px; border-bottom:1px solid #dcdcdc; padding:0px 4px;}
.bill .box li:after{ display:block; content:''; clear:both; }
.bill .box p{ float:left;}
.bill .box p .f12{ margin-left:10px;}
.bill .box p:nth-child(1){ width:80%; line-height:48px;}
.bill .box p:nth-child(2){ width:20%; text-align:right;}
.bill .box p .ckbox{ float:right; position:relative; top:10px;}
.bill .box .total{ background-color:#f2f2f2; border-bottom:0; font-size:15px;line-height:40px;}
.mask_bill{ width:94%; margin:10px auto;}
.mask_bill li{ line-height:28px;}
/* custom 专属客服 */
.custom{ width:94%; margin:0px auto;}
.custom li{line-height:40px; border-bottom:1px solid #dcdcdc; padding:0px 4px;}
.custom li:after{ display:block; content:''; clear:both; }
.custom p{ float:left;}
.custom p:nth-child(1){ width:70%;}
.custom p:nth-child(2){ width:30%;}
.custom p:nth-child(2) a{ float:right; width:100%; text-align:center; line-height:26px; position:relative; top:6px; border-radius:4px;}
.custom p:nth-child(2) a.green{ border:1px solid #07d36c;}
.custom p:nth-child(2) a.orange{ border:1px solid #fa9614;}
.custom p:nth-child(2) a.blue{  border:1px solid #09cdf7;}

/**fettler 维修工 **/
.fettler{ width:94%; margin:10px auto;}
.fettler li{ float:left; width:33.3%; border-right:1px solid #dcdcdc;}
.fettler li:nth-child(3){border-right:0;}
.fettler li.on a{background-color:#f2f2f2;}
.fettler li a{ display:block; width:90%; margin:0px auto; text-align:center; padding:10px 0 0 0; color:#888;}
.fettler li span{ display:block; line-height:40px;}

/*客服*/
.customer{ width:94%; margin:10px auto;}
.customer li{ float:left; width:25%; border-right:1px solid #dcdcdc;}
.customer li:nth-child(4){border-right:0;}
.customer li.on a{background-color:#f2f2f2;}
.customer li a{ display:block; width:92%; margin:0px auto; text-align:center; padding:10px 0 0 0; color:#888;}
.customer li span{ display:block; line-height:40px;}

.com_icon{ width:30px; margin:0px auto; height:30px;}
.min_icon{ width:16px; height:16px; float:left; margin-right:6px;}
.m_icon{display:block; background-image:url(../images/com_icon.png); background-repeat:no-repeat; background-size:100%;}
.i_ask{ background-position:0 0%;}
.i_man{ background-position:0 100%;}

.com_top .bg_top{ background:url(../images/pic_top.jpg) no-repeat; background-size:100% 100%; padding:20px 0;}
.com_top .bg_top p{ text-align: center; color:#fff;}
.com_top .bg_top img{ display:block; width:80px; height:80px; margin:0px auto; border-radius:100%;}
.com_top .bg_top .name{ font-size:16px; line-height:40px;}
.com_top .com_tit{ background-color:#f2f2f2;}
.com_top .com_tit p{ float:left; padding:10px; line-height:30px;}
.com_top .com_tit .address{ width:76%;}
.com_top .com_tit .address i{ display:block; float:left; width:24px; height:30px; background-size:20px; position:relative; top:5px;}
.com_top .com_tit .link{ width:24%; font-size:12px;}
.com_top .com_tit .link .btn_blue{ display:block; width:100%; border-radius:4px;}
/*租售信息发布*/
.main{ width:94%; margin:10px auto;}
.main .box li{ line-height:40px; border-bottom:1px solid #dcdcdc;}
.main .box li input[type='text'],.main .box li select,.main .box li textarea{ width:90%; padding:4px;}
.main .box li textarea{ line-height:22px; min-height:74px;}
.main .box li:after{ display:block; content:''; clear:both;}
.main .box p{ float:left; width:76%;}
.main .box p.name{ width:24%; text-align:left;}
.main .box p.house input{ width:12%;}
.rental_bottom_p{ text-align:center; font-size:12px; color:#999; margin-bottom:10px;}
/**bottom_fix 底部**/
.bottom_fix{ width:100%; background-color:#ffffff; border-top:1px solid #dcdcdc; position:fixed; left:0; bottom:0;}
.bottom_fix li{ float:left; width:33.3%; text-align:center;}
.bottom_fix li i{ display:block; width:35px; margin:10px auto 0px auto; height:35px; background-image:url(../images/icon_bottom.png); background-repeat:no-repeat; background-size:70px;}
.bottom_fix li:nth-child(1) i{ background-position:0 0;}
.bottom_fix li:nth-child(2) i{ background-position:0 -35px;}
.bottom_fix li:nth-child(3) i{ background-position:0 -70px;}
.bottom_fix li.on a{ color:#09cdf7;}
.bottom_fix li.on:nth-child(1) i{ background-position:-35px 0;}
.bottom_fix li.on:nth-child(2) i{ background-position:-35px -35px;}
.bottom_fix li.on:nth-child(3) i{ background-position:-35px -70px;}
.bottom_fix li span{ display:block; line-height:26px;}
/**弹出层**/
.mask{width:100%; height:100%; position:fixed; top:0; left:0; background-color:rgba(0,0,0,0.5); z-index:100;}
.mask .mask_box{ width:90%; background-color:#fff; position:absolute; left:5%; top:20%;}
.mask .mask_box div.name{ width:100%; line-height:48px; background-color:#09cdf7; color:#ffffff; text-align:center; font-size:18px;}
.mask .mask_box .list{ padding:10px;}
.mask .mask_box .list li{ line-height:26px;}
.mask .mask_box .mask_btn{ padding-bottom:10px;}
.mask .mask_box .mask_btn li{ float:left; width:50%;}
.mask .mask_box .mask_btn li .btn{ display:block; width:80%; margin:10px auto; line-height:32px; border-radius:4px;}
.mask .del{ width:24px; height:24px; background:#fff url(../images/del.png) no-repeat center center; position:absolute; top:6px; right:6px; border-radius:4px; z-index:4; cursor:pointer;}
.up_pics{ position:relative;}
.up_pics p{ width:94%; margin:10px auto; color:#09cdf7; text-align:center; background-color:#ededed; border-radius:4px; line-height:40px;}
.up_pics input[type='file']{filter:alpha(opacity=0) !important;opacity:0 !important; position:absolute; top:0; left:0; height:42px; width:100%;}
.c_close a{ display:block; width:94%; margin:0px auto 10px auto; line-height:30px;}

.width_94{ width:94%; margin:0px auto;}
/*share_box*/
#share_box{ width:100%; height:100%; position:fixed; top:0; left:0; background:rgba(0,0,0,0.5) url(../images/weixin-share-guide.png)no-repeat; background-size:contain; z-index:100;}
/*copyright*/
.copyright{ width:100%; height:56px; background:url(../images/copyright.png) no-repeat; background-size:100%; z-index:100;}
.copyright_fix{ position:fixed;  left:0; bottom:0;}
.copyright_white{ width:100%; height:56px; background:url(../images/copyright_white.png) no-repeat; background-size:100%; z-index:100; position:fixed; bottom:0; left:0;}
/*上传图片*/
.marg{ width:94%; margin:10px auto;}
.marg .font{ float: left; color:gray; width:16%;}
.marg .pics{ float:left; position:relative; width:84%;}
.marg .file_add{ display:block; float:left; width:40px; height:42px; line-height:40px; margin:0 10px 10px 0; border:1px solid #09cdf7; color:#09cdf7; text-align:center; background-color:#fff; border-radius:4px;}
.marg .file_input{filter:alpha(opacity=0) !important;opacity:0 !important; position:absolute; top:0; left:0; height:42px; width:160px;}
/*page 页码*/
.page{ width:94%; margin:10px auto;}
.page li{ float:left; margin-right:1%; line-height:30px; text-align:center; border-radius:4px; border: 1px solid #d0d0d0;}
.page li.page_up,.page li.page_down{ border:1px solid #d0d0d0; width:20%;}
.page li.on{ background-color:#09cdf7; color:#fff; border:1px solid #09cdf7;}
page li.page_down{ margin-right:0;}
/*通用切换标题*/
.h_tit{ background-color:#f2f2f2; padding:6px; line-height:24px;}
.c_tit{ width:94%; margin:10px auto; }
.c_tit li{ float:left; width:33.3%; text-align:center; line-height:36px;background-color:#f2f2f2; color:#09cdf7;}
.c_tit li.tl{width:50%;}
.c_tit li:nth-child(1),.c_tit li:nth-child(1) p{border-radius:4px 0 0 4px;}
.c_tit li:nth-child(3){border-radius:0 4px 4px 0;}
.c_tit li.blue{ background-color:#09cdf7; color:#ffffff;}
.c_tit li.gery{ background-color:#888888; color:#ffffff;}
.c_tit li a{ color:#fff;}
.c_tit p.bule{background-color:#09cdf7; color:#ffffff;}

@media screen and (max-width: 320px) {
/*personal 个人中心*/
.personal .per_msg .msg p{ line-height:22px;}
.personal .per_msg .msg{ font-size:12px;}
.personal .per_msg .address span:nth-child(1){ width:70%;}
.personal .per_msg .address span:nth-child(2){ width:30%;}
.personal .per_msg .photo img{height:48px;}
/*orders 我的订单*/
.orders .list{ width:96%;}
.orders .list .godds .photo{ width:30%;}
.orders .list .goods .tit{ width:66%;}
.orders .list .details .btn{width:60px; margin-left:4px;}
/*activity 社区活动*/
.activity .list li img{height:96px;}
.activity .list .seen > span:nth-child(1){ width:59%; height:20px; line-height:20px; overflow:hidden; }
.activity .list .seen > span:nth-child(2){ width:40%; }
/*issue 论坛发布*/
.issue .list{ width:96%;}
.issue .list .names{ width:38%;}
.issue .list .text{ width:40%;}
.issue .list .pic img{height:66px;}
/* ambitus 周边商家 */
.ambitus li i{ width:48px; height:48px;}
}
@media screen and (min-width: 361px) and (max-width: 376px) {
/*orders 我的订单*/
.orders .list .goods .photo{ width:25%;}
.orders .list .goods .tit{ width:71%;}
.orders .list .details .btn{width:80px; margin-left:8px;}
.personal .per_msg .photo img{height:58px;}
/*积分记录*/
.integral_tit .photo{ width:26%;}
.integral_tit .name{ width:44%;}
/*issue 论坛发布*/
.issue .list .photo {width: 16%;}
.issue .list .names{ width:44%;}
.issue .list .text{ width:40%;}
.issue .list .pic img{height:76px;}
/*activity 社区活动*/
.activity .list li img{height:120px;}
}
@media screen and (min-width: 377px) and (max-width: 414px) {
/*personal 个人中心*/
.personal .list li span { font-size:16px;line-height: 50px;}
.personal .per_msg .photo img{height:64px;}
/*orders 我的订单*/
.orders .list .goods .photo{ width:24%;}
.orders .list .goods .tit{ width:72%;}
.orders .list .details .btn{width:80px; margin-left:8px;}
/*积分记录*/
.integral_tit .photo{ width:22%;}
.integral_tit .name{ width:48%;}
/*issue 论坛发布*/
.issue .list .photo {width: 14%;}
.issue .list .names{ width:44%;}
.issue .list .text{ width:42%;}
.issue .list .pic img{height:84px;}
/*activity 社区活动*/
.activity .list li img{height:130px;}
}

